<div class="container-fluid">
  <div class="col-12">
    <h3 class="cart-item ms-5" style="
          font-size: 14px;
          line-height: 28px;
          color: rgb(126, 133, 155);
          margin-left: 5px;">
      <span style=" font-size: 23px;
            font-weight: bold;
            line-height: 25px;
            font-style: normal;
            color: rgb(51, 51, 51);" [translate]="'cart'"></span>
      (3 items)
    </h3>
  </div>
  <div class="row border" style="background: #f7f7fa;">

    <div class="container-fluid col-12 col-sm-12 col-md-8 ">
      <div class=" border border-white  bg-white text-dark rounded-end ms-5 mt-4"
        style="border-bottom-left-radius: 5px; left: 4px">
        <div class="row">
          <div class="col-3">
            <img class="img-filter img" src="assets/cart/Casio.avif" alt="" />
          </div>
          <div class="col-7">
            <span class="brand">CASIO</span>
            <h3 class="sc-87f4bf16-18 discription NavFont">
              Women's Baby-G Digital Watch BGD-560-4
            </h3>

            <!-- <h6 class="order NavFont">Order in the next 34 mins</h6><br /> -->
            <h6 class="delivery NavFont" [translate]="'cat-free-delivery'">
            </h6>
            <div style="
        font-size: 14px;
        color: rgb(126, 133, 155);
        margin: 10px 0px 5px;">
              <span [translate]="'Sold-By'"></span>
              <strong [translate]="'noon'"></strong>
            </div>
            <div class="select NavFont">
              <img src="assets/cart/same_day_delivery.svg" alt="" />
              <span [translate]="'select'"></span>
              <strong [translate]="'towdaysd'"></strong>
              <span [translate]="'select-2day'"></span>
              <strong [translate]="'2-days'"></strong>
            </div>
            <div class="warranty" style="font-size: 12px">
              <img src="assets/cart/warranty.svg" alt="" />
              <span [translate]="'1-y-waeantrly'"></span>
            </div>
            <div class="remove mt-2 mb-3" style="font-size: 12px">
              <img src="assets/cart/trash.svg" alt="" />
              <span [translate]="'Remove'"></span>
            </div>
          </div>
          <div class="col-2">
            <div class="price">EGP <b class="textF">1138</b></div>
            <div class="dropdown">
              <button class="btn btn-light dropdown-toggle border rounded-0" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                1
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">1</a></li>
                <li><a class="dropdown-item" href="#">2</a></li>
                <li><a class="dropdown-item" href="#">3</a></li>
              </ul>
            </div>
            <img src="assets/cart/express.svg" class="pt" />
          </div>
        </div>
      </div>
      <div class="col-5 ms-5 mt-3 mb-4">
        <button type="button" class="btn btn-light border border-primary text-primary fw-bold onclic">
          <a class="text-decoration-none" href="index.html" [translate]="'Continue-Shopping'"></a>
        </button>
      </div>
    </div>

    <main class="container-fluid col-12 col-sm-12 col-md-4">
      <div class=" border border-secondary-subtle p-2 mt-3 ms-3 me-5">
        <div class="m-2" [translate]="'order-summary'"><b></b></div>
        <div class="row1 m-3 ">
          <form>
            <input size="12em" type="text" placeholder="Coupon Code" value="" class="input1">
          </form>
          <button class="bg-primary button1">
            <span class="span3" [translate]="'Apply'"></span>
          </button>
        </div>
        <div class="span1">
          <div class="m-3">
            <span [translate]="'Subtotal'" [translateParams]="{'NOitems':1}"> </span>
            <span class="span2">EGP 369.00</span>
          </div>
          <div class="m-3">
            <span [translate]="'Shipping'"> <span style="color: #0d6efd;float: right;"
                [translate]="'Details'"></span></span>
            <span style="color: #0d6efd;" [translate]="'Free'"></span>
          </div>
        </div>
        <hr>
        <div>
          <div class="m-3">
            <span>
              <span [translate]="'Total'" class="fw-bold"></span>
              <span class="span1" [translate]="'vat'"></span></span>
            <span class="span2">EGP 177.95</span>
          </div>
        </div>
        <div class="bg-white m-3 p-2 row1">
          <div class="col-1">
            <i class="fa-solid fa-building-columns i"></i>
          </div>
          <div class="col-11 span2" [translate]="'monthly-payment'">
          </div>
        </div>
        <div class="d-grid gap-2 m-3">
          <button class="btn btn-primary text-light" type="button" [translate]="'CHECKOUT'"></button>
        </div>
      </div>
    </main>
  </div>
</div>