<div class="container-fluid">
  <div class="col-12">
    <h3 class="cart-item ms-5" style="
          font-size: 14px;
          line-height: 28px;
          color: rgb(126, 133, 155);
          margin-left: 5px;">
      <span style=" font-size: 23px;
            font-weight: bold;
            line-height: 25px;
            font-style: normal;
            color: rgb(51, 51, 51);">Cart</span>
      (3 items)
    </h3>
  </div>
  <div class="row border" style="background: #f7f7fa;">

    <div class="container-fluid col-12 col-sm-12 col-md-8 ">
      <div class=" border border-white  bg-white text-dark rounded-end ms-5 mt-4"
        style="border-bottom-left-radius: 5px; left: 4px">
        <div class="row">
          <div class="col-3">
            <img class="img-filter img" src="assets/cart/Casio.avif" alt="" />
          </div>
          <div class="col-7">
            <span class="brand">CASIO</span>
            <h3 class="sc-87f4bf16-18 discription NavFont">
              Women's Baby-G Digital Watch BGD-560-4
            </h3>

            <h6 class="order NavFont">Order in the next 34 mins</h6><br />
            <h6 class="delivery NavFont">Free delivery
              <span style="color: rgb(126, 133, 155)">by</span>
              <span> Mo,Mar20</span>
            </h6>
            <div style="
        font-size: 14px;
        color: rgb(126, 133, 155);
        margin: 10px 0px 5px;
      ">
              Sold by <strong>noon</strong>
            </div>
            <div class="select NavFont">
              <img src="assets/cart/same_day_delivery.svg" alt="" />
              Select <strong>Two day delivery</strong>on checkout to get it
              in
              <strong> 2 days</strong>
            </div>
            <div class="warranty" style="font-size: 12px">
              <img src="assets/cart/warranty.svg" alt="" /> 1 year warranty
            </div>
            <div class="remove mt-2 mb-3" style="font-size: 12px">
              <img src="assets/cart/trash.svg" alt="" /> Remove
            </div>
          </div>
          <div class="col-2">
            <div class="price">EGP <b class="textF">1138</b></div>
            <div class="dropdown">
              <button class="btn btn-light dropdown-toggle border rounded-0" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                1
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">1</a></li>
                <li><a class="dropdown-item" href="#">2</a></li>
                <li><a class="dropdown-item" href="#">3</a></li>
              </ul>
            </div>
            <img src="assets/cart/express.svg" class="pt" />
          </div>
        </div>
      </div>
      <div class=" border border-white  bg-white text-dark rounded-end ms-5 mt-4"
        style="border-bottom-left-radius: 5px; left: 4px">
        <div class="row">
          <div class="col-3">
            <img class="img-filter img" src="assets/cart/hp.avif" alt="" />
          </div>
          <div class="col-7">
            <span class="brand">hp</span>
            <h3 class="sc-87f4bf16-18 discription NavFont ">
              Laptop With 15.6-inch Core i5-1235U 8GB RAM 512GB
              SSD Intel Iris Xe DOS English/Arabic Silver
            </h3>

            <h6 class="order NavFont">Order in the next 34 mins</h6><br>
            <h6 class="delivery NavFont">Free delivery
              <span style="color: rgb(126, 133, 155)">by</span>
              <span> Mo,Mar20</span>
            </h6>
            <div style="
                  font-size: 14px;
                  color: rgb(126, 133, 155);
                  margin: 10px 0px 5px;
                ">
              Sold by <strong>noon</strong>
            </div>
            <div class="select NavFont">
              <img src="assets/cart/same_day_delivery.svg" alt="" />
              Select <strong>Two day deliver</strong>on checkout to get it
              in
              <strong> 2 days</strong>
            </div>
            <div class="warranty" style="font-size: 12px">
              <img src="assets/cart/warranty.svg" alt="" /> 1 year warranty
            </div>
            <div class="remove mt-2 mb-3" style="font-size: 12px">
              <img src="assets/cart/trash.svg" alt="" /> Remove
            </div>
          </div>
          <div class="col-2">
            <div class="price">EGP <b class="textF"> 15999</b></div>
            <div class="dropdown">
              <button class="btn btn-light dropdown-toggle border rounded-0 " type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                1
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">1</a></li>
                <li><a class="dropdown-item" href="#">2</a></li>
                <li><a class="dropdown-item" href="#">3</a></li>
              </ul>
            </div>
            <img src="assets/cart/express.svg" class="pt" />
          </div>
        </div>
      </div>
      <div class=" border border-white  bg-white text-dark rounded-end ms-5 mt-4"
        style="border-bottom-left-radius: 5px; left: 4px">
        <div class="row">
          <div class="col-3">
            <img src="assets/cart/Headset.avif" alt="" class="img img-filter" />
          </div>
          <div class="col-7">
            <span class="brand">Xiberia</span>
            <h3 class="sc-87f4bf16-18 discription NavFont">
              V20 Gaming Headset,Stereo Surrounding Sound Headphones with
              Microphone LED Light Earphones for Computer/PC/PS4/Mobile
              Black
            </h3>

            <h6 class="order NavFont">Order in the next 34 mins</h6>
            <h6 class="delivery NavFont">Free delivery
              <span style="color: rgb(126, 133, 155)">by</span>
              <span> Mo,Mar20</span>
            </h6>
            <div style="
                  font-size: 14px;
                  color: rgb(126, 133, 155);
                  margin: 10px 0px 5px;
                ">
              Sold by <strong>noon</strong>
            </div>
            <div class="select NavFont">
              <img src="assets/cart/same_day_delivery.svg" alt="" />
              Select <strong>Two day deliver</strong>on checkout to get it
              in
              <strong> 2 days</strong>
            </div>
            <div class="warranty" style="font-size: 12px">
              <img src="assets/cart/warranty.svg" alt="" /> 1 year warranty
            </div>
            <div class="remove mt-2 mb-3" style="font-size: 12px">
              <img src="assets/cart/trash.svg" alt="" /> Remove
            </div>
          </div>
          <div class="col-2">
            <div class="price">EGP <b class="textF"> 299</b></div>
            <div class="dropdown">
              <button class="btn btn-light dropdown-toggle border rounded-0 " type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                1
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">1</a></li>
                <li><a class="dropdown-item" href="#">2</a></li>
                <li><a class="dropdown-item" href="#">3</a></li>
              </ul>
            </div>
            <img src="assets/cart/express.svg" class="pt" />
          </div>
        </div>
      </div>
      <div class="col-5 ms-5 mt-3 mb-4">
        <button type="button" class="btn btn-light border border-primary text-primary fw-bold onclic">
          <a class="text-decoration-none" href="index.html">Continue Shopping</a>
        </button>
      </div>
    </div>

    <main class="container-fluid col-12 col-sm-12 col-md-4">
      <div class=" border border-secondary-subtle p-2 mt-3 ms-3 me-5">
      <div class="m-2"><b>Order Summary</b></div>
      <div class="row1 m-3 ">
        <form>
          <input size="12em" type="text" placeholder="Coupon Code" value="" class="input1">
        </form>
        <button class="bg-primary button1">
          <span class="span3">Apply</span>
        </button>
      </div>
      <div class="span1">
        <div class="m-3">
          <span>Subtotal (1 item)</span>
          <span class="span2">EGP 369.00</span>
        </div>
        <div class="m-3">
          <span>Shipping <span style="color: #0d6efd;float: right;">Details</span></span>
          <span style="color: #0d6efd;">Free</span>
        </div>
      </div>
      <hr>
      <div>
        <div class="m-3">
          <span class="span1">Total<span class="span1"> (Inclusive of VAT)</span></span>
          <span class="span2">EGP 177.95</span>
        </div>
      </div>
      <div class="bg-white m-3 p-2 row1">
        <div class="col-1">
          <i class="fa-solid fa-building-columns i"></i>
        </div>
        <div class="col-11 span2">
          Monthly payment plans from EGP 500<br>
          <a href="#" class="a">View more details</a>
        </div>
      </div>
      <div class="d-grid gap-2 m-3">
        <button class="btn btn-primary text-light" type="button">CHECKOUT</button>
      </div>
  </div>
  </main>
  </div>
</div>
