body, footer{
  margin: 0 !important;
  padding: 0 !important;
}
ol, ul {
  list-style: none !important;
}

.div-center{
  display: flex;
  justify-content: center;
}

@media screen and (min-width:1021px){
  .txtFont2 {
       font-size: 1.2em !important;
   }
}
@media screen and (min-width:1000px) and (max-width:1020px){
  .txtFont2 {
       font-size: 0.9em !important;
   }
}
@media screen and (min-width:768px) and (max-width:1001px) {
  .txtFont2 {
       font-size: 0.8em !important;
       margin-top: 10% !important;
       text-align: center;
   }
}
@media screen and (min-width:400px )and (max-width:767px) {
   .txtFont2 {
       font-size: 0.7em !important;
       text-align: center;
       }
}
