<div class="container-fluid">
  <div class="container-fluid row chech-header pt-3 pb-2 ">
    <div class="col-sm-3 col-md-3 ">
      <img
        class="img-fluid cart" src="assets/check-out/arrow-left.svg" alt="just an arrow" routerLink="/Cart"  *ngIf="lang=='en'"/>
      <img
      class="img-fluid cart"src="assets/check-out/arrow-right.svg" alt="just an arrow" routerLink="/Cart"  *ngIf="lang=='ar'"/>
      <span class="mx-1 cart-link cart" [translate]="'Cart'" routerLink="/Cart" >  </span>
    </div>
    <div class="col-sm-6 col-md-6 mx-5" >
      
      <span class="cart-link mx-5"[translate]="'For_assistance,call'" ></span> 
       
    </div>
    <div class="col-sm-1 col-md-1 mx-5">
      <img src="assets/header/noon-logo-en.svg" class="img-fluid mx-auto"  *ngIf="lang=='en'" >
      <img src="assets/header/noon-logo-ar.svg" class="img-fluid mx-auto" *ngIf="lang=='ar'">
    </div>
  </div>
  <div class="rounded row container-fluid pt-3 pb-3" style="background-color: #f7f7fa">
    <div class="col-sm-12 col-md-2"></div>
    <div class="col-sm-12 col-md-6">
      <div class="row mx-4">
      <strong class="title pb-2" [translate]="'Shipping_Address'"></strong>
      <div class="bg-white container-fluid row mt-2 mb-3 rounded">
        <div class="col-9 mx-4">
            <!-- <button class="btn btn-danger" (click)="logdata()">btn</button> -->
          <strong class="row name pt-4">{{name}}</strong>
          <div class="row add">
            {{address}}
          </div>
          <div class="row tel">
            {{phone}}
            
            <img
              class="img-fluid right pb-2"
              src="assets/check-out/verified.svg"
              alt=""
            />
          </div>
        </div>
   
        <div class="col-1 mt-2">
          <button data-bs-toggle="modal" [translate]="'Change'" data-bs-target="#exampleModal" class="ms-3" style="color: rgb(56, 102, 223)">Change</button>
        </div>
      </div>
    </div>
    <div class=" row mx-4">
      <strong class="title" [translate]="'Payment_Options'"></strong>
        <div class="bg-white container-fluid row mt-2 mb-3 rounded ">
            <div class="col-1">
             
                <div class="rounded mt-5 ">
                  <input  type="checkbox" (change)=" removeDisabled()" id="checkbox" />
                  <label for="checkbox"></label>
               
                </div>
         
            </div>
            <div class="col-5 pt-4 pb-4">
             <strong class="title" [translate]="'Cach_On_Delivery'"></strong>
             <div class="extra-charges " [translate]="'Extra_changes'"></div>
            </div>
            <div class="col-3 mt-5"></div>
            <div class="col-2 "><img class="img-fluid mx-5 mt-5 "src="assets/check-out/cod.svg" alt=""></div>
        </div>
        <div class="bg-white container-fluid row mt-2 mb-3 rounded">
            <strong class="title ms-5 mb-3 mt-4" [translate]="'Pay_With_PayPal'"></strong>
           <div
        class="d-flex justify-content-center mt-2 "
        id="myPaypalButtons"
           ></div>
        </div>
                 
                   
             
    </div>
    <div class="row mx-4 ">
        <strong class="title" [translate]="'Delivery_Options'">
        </strong>
        <div class="bg-white container-fluid row mt-2 mb-3 rounded ">
        <div class="col-1">
         
          <div class="form-check form-switch mt-5">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault"></label>
          </div>
     
        </div> 
        <div class="col-8 pt-4 pb-4">
         <strong class="title" [translate]="'Leave_At_My_Door'"></strong>
         <div class="extra-charges " [translate]="'Leave_disc'"></div>
        </div>
        
        <div class="col-2 ">
            <img class="img-fluid mx-5 mt-5"src="assets/check-out/shipment_method.svg" alt="">
        </div>
        </div>
    </div>
     </div>
      
    
    <div class="col-sm-12 col-md-3 mx-2">
      <div class="row">
      <strong class="title pb-2 col-7" [translate]="'Review_Your_Order'"> </strong>
      <div class="col-3">{{totalQuantity}}
        <span [translate]="'item'"></span>
      </div>
       </div>
       <div class="row bg-white pt-3 pb-3 rounded" *ngFor="let product of productInCart">
        <div class="col-4">
          <img class="img-fluid" [src]="product.imagePath" alt="">
          <span class="unit ps-4">1 UNIT</span>
        </div>
        <div class="col-8 title">
          <strong>{{lang == 'en'? product.name : product.nameAr}}</strong>
          <div>
            <span class="unit">EGP</span>
            <strong> {{product.price}}</strong>
            
          </div>
          <div>
            <strong [translate]="'Free_delivery'"></strong>
            <span class="unit" [translate]="'between'"></span>
            <span class="date"> Apr 22 - Apr 23</span>
          </div>
          <div class="ms-5">
            <img class="img-fluid market ms-5" src="assets/check-out/market.png" alt="">
          </div>
          </div>
       </div>
       <div class="row bg-white pt-3 pb-3 mt-3 rounded">
        <div class="row">
          <div class="col-7 unit ps-4" [translate]="'Subtotal'"></div>
           
          <div class="col-5 unit ps-4">
            <span [translate]="'EGP'"></span>
                {{totalPrice}}
              </div>
        </div>
        <div class="row">
          <div class="col-9 unit px-4" [translate]="'Shipping_Fee'"></div>
          <div class="col-3 ps-4"><span class="date" [translate]="'Free'"></span></div>
          <hr class=" mx-2 mt-3 mb-3 ">
        </div>
        <div class="row mb-3">
          <div class="col-8 ps-4 title">
            <strong [translate]="'TOTAL'"> </strong><pre></pre>
            <span class="px-1 unit" [translate]="'Inclusive_of_VAT'"></span>
          </div>
          <div class="col-4"><div class="title">
          <span  [translate]="'EGP'"></span>
            <strong class="price">{{totalPrice}}</strong></div></div>
        </div>
        <div class="row mb-2">

        <button type="button" (click)="sendOrder()"  class="btn btn-primary order mx-5" id="order_btn" 
          disabled  data-bs-toggle="button" [translate]="'PLACE_ORDER'">
          </button>

        </div>
       </div>
       <div class="pt-3">
        <div>
          <img class="img-fluid" src="assets/check-out/lock_dark.svg" alt="">

          <strong class="unit" [translate]="'Security_and_Privacy'"> 
          </strong>
        </div>
          <div class="unit mt-2" [translate]="'Security_disc'">
          </div>
         
          <div class="unit mt-3" [translate]="'All_Rights_Reserved'"></div>
       </div>
    </div>
  </div>
  <!-- //modal// -->
  <div class="modal fade m-0" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel" [translate]="'Select_Delivery_Address'"></h1>
          <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label"[ngModel] [translate]="'Name'"> </label>
              <input type="text" class="form-control" id="recipient-name"placeholder="{{'Edit_your_Name'|translate}}">
            </div>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label" [translate]="'Address'"></label>
              <input type="text" class="form-control" id="recipient-name" placeholder="{{'Edit_your_Address'|translate}}">
            </div>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label" [translate]="'Phone'"></label>
              <input type="text" class="form-control" id="recipient-name" placeholder="{{'Edit_your_Phone'|translate}}">
            </div>
           
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary cancel me-2" data-bs-dismiss="modal" [translate]="'CANCEL'"></button>
          <button type="button" class="btn btn-primary confirm" [translate]="'CONFIRM'"></button>
        </div>
      </div>
    </div>
  </div>

</div>

