<header  class="container-fluid col-12 row">

  <div class="col-12 row m-0 p-0 txtFont">
    <div class="bg-header-yollow row align-items-center text-center p-2 m-0">
      <!-- Noon Logo -->
      <div class="col-sm-2 col-2 col-md-1">
        <a routerLink="/Home">
          <img src="assets/header/noon-logo-en.svg" class="img-fluid mx-auto"  *ngIf="lang=='en'" >
          <img src="assets/header/noon-logo-ar.svg" class="img-fluid mx-auto" *ngIf="lang=='ar'">
        </a>
      </div>
      <!--  Delivery To -->
      <div class="row d-none col-md-1 d-md-inline-block p-0 m-0">
        <button class="bg-header-yollow border-0 m-0 p-0 ">
          <div class="d-inline-block ">
            <img src="assets/header/eg.svg" class="img-fluid col-10 mx-auto txtFont">
          </div>
          <div class=" d-inline-block">
            <span class="txtFont" [translate]="'header-deliver'">
              
            </span>

          </div>
          <span class="align-top">
            <img src="assets/header/dropdownArrow.svg" alt="" style="width: 1rem !important; height: 1rem !important;"
              class="img-fluid">
          </span>
        </button>
      </div>
      <!-- Search Input -->
      <div class="col-md-6 col-sm-5 col-5 ">
        <div class="input-group ">
          <input id="searchbar" #asd type="text" (change)="searchpro(asd.value)" class="form-control rounded p-2"
            placeholder="{{'what-are-you-looking-for' | translate}}" aria-label="What are you looking for?"
            aria-describedby="button-addon2">
        </div>
      </div>

      <!-- Language -->
      <div class="col-1">
        <select class="form-select form-select-sm language-switcher" 
        (change)="selectedLanguage($event)" >
          <!-- <option value="n" hidden >lish</option> -->
          <!-- {{lang==='en' ? '<option value="en" selected>English </option>' :
          '<option value="en" >English </option>'}}
          {{lang==='ar' ? '<option value="ar" selected>العربيه </option>' :
          '<option value="ar" >العربية </option>'}}  -->
          <option value="en" *ngIf="lang=='en'" selected>English </option>
          <option value="ar" *ngIf="lang=='en'" >العربية </option>
          <option value="en" *ngIf="lang=='ar'" >English </option>
          <option value="ar" *ngIf="lang=='ar'"selected >العربية </option>
          
          <!-- <ng-template #> -->
            
          <!-- </ng-template> -->
        </select>
        <!-- <button value="en" (click)="selectedLanguage($event)" *ngIf="lang" >English</button>
        <ng-template [ngTemplateOutlet]="outlet" [ngOutletContext]="context"></ng-template>
        <button value="ar" (click)="selectedLanguage($event)" >English</button> -->

      </div>

      <!-- Sign In -->
      <div class="col-2 col-sm-2 col-md-2">
        <a type="button" class="btn" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">
          <span class="fw-bold txtFont">
             <span [translate]="'sign-in'"></span>

            <img class="txtFont" src="assets/header/account-inactive.svg" alt=""
              style="width: 1rem !important; height: 1rem !important;" class="img-fluid">
            </span>
        </a>
      </div>

        <!-- Popup Sign In and Sign Up -->
        <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
          tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="row">
                <form (ngSubmit)="LogIn(email.value,pass.value)" class="col-9 my-4 mx-auto" [formGroup]="userFormGroup" >
                  <h3 class=" mt-3 col-12 fs-2 d-inline-block" [translate]="'Welcome-back'"></h3>
                  <h4 class=" fs-4 d-inline-block text-center"[translate]="'Sign-in-to-your-account'"></h4>
                  <div class=" col-12 d-inline-block text-center mb-3"[translate]="'Dont-have-an-account?'"> 
                    <a href="#" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" class="link-info" [translate]="'Register-here'"></a>
                  </div>
        
                  <div class="form-outline mb-2 p-0">
                    <label class="form-label fw-bold fs-5" for="Emailss"[translate]="'Email-address'"></label>
                    <input #email type="string" id="Emailss" name="Emailss" class="form-control form-control-lg"
                      formControlName="Emaillogin" [class.is-valid]="EmailLogin?.valid"
                      [class.is-invalid]="EmailLogin?.invalid">
        
                    <div class="alert alert-danger" [hidden]="EmailLogin?.valid || EmailLogin?.untouched">
                      <small *ngIf="EmailLogin?.errors?.['required']" [translate]="'Email-is-Required'"></small>
                      <small *ngIf="EmailLogin?.errors?.['pattern']">Email Must be pattern<br> ([a-zA-Z0-9](4,15)@(gmail |
                        yahoo).com)</small>
                    </div>
                  </div>
        
        
                  <div class="form-outline  mb-2 p-0">
                    <label class="form-label fw-bold fs-5 " for="Passs"[translate]="'Password'"></label>
                    <input #pass type="password" id="Passs" name="Passs" class="form-control form-control-lg"
                      formControlName="Passwordlogin" [class.is-valid]="PassLogin?.valid"
                      [class.is-invalid]="PassLogin?.invalid">
        
                    <div class="alert alert-danger" [hidden]="PassLogin?.valid || PassLogin?.untouched">
                      <small *ngIf="PassLogin?.errors?.['required']"[translate]="'Password-is-Required'"> </small>
                      <small *ngIf="PassLogin?.errors?.['pattern']">Password Must be pattern <br>
                        ([a-zA-Z](4,10)[0-9](2)@)</small>
        
                    </div>
                  </div>
        
                  <div class="my-3">
                    <a href="#" class="link-info"[translate]="'Forgot-your-password?'"></a>
                    <div class="col-12">
                      <input class="my-2 btn border text-primary fw-bold fs-4 w-100" type="submit"[translate]="'Sign-In'">
                    </div>
        
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        
        <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
          tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="row">
                <form (ngSubmit)="Registeration(email2.value,pass2.value,fname.value,lname.value )" class="col-9 my-4 mx-auto" [formGroup]="userFormGroup">
        
                  <h3 class=" mt-3 col-12 fs-2 d-inline-block"[translate]="'Create-an-account'"></h3>
                  <div class=" col-12 d-inline-block text-center mb-3"[translate]="'Already-have-an-account?'">
                  
                    <a href="#" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" class="link-info"[translate]="'Sign-In'"></a>
                  </div>
        
                  <div class="form-outline mb-2 p-0">
                    <label class="form-label fw-bold fs-5" for="Emails" [translate]="'Email-address'"></label>
                    <input #email2 type="string" id="Emails" name="Emails" class="form-control form-control-lg" formControlName="Uemail"
                      [class.is-valid]="EmailU?.valid" [class.is-invalid]="EmailU?.invalid">
                    <div class="alert alert-danger" [hidden]="EmailU?.valid || EmailU?.untouched">
                      <small *ngIf="EmailU?.errors?.['required']"[translate]="'Email-is-Required'"></small>
                      <small *ngIf="EmailU?.errors?.['pattern']">Email Must be pattern<br> ([a-zA-Z0-9](4,15)@(gmail |
                        yahoo).com)</small>
                    </div>
                  </div>
        
                  <div class="form-outline  mb-2 p-0">
                    <label class="form-label fw-bold fs-5 " for="Pass"[translate]="'Password'"></label>
                    <input #pass2 type="password" id="Pass" name="Pass" class="form-control form-control-lg"
                      formControlName="Upassword" [class.is-valid]="passwordU?.valid" [class.is-invalid]="passwordU?.invalid">
                    <div class="alert alert-danger" [hidden]="passwordU?.valid || passwordU?.untouched">
                      <small *ngIf="passwordU?.errors?.['required']"[translate]="'Password-is-Required'"></small>
                      <small *ngIf="passwordU?.errors?.['pattern']">Password Must be pattern<br>
                        ([a-zA-Z](4,10)[0-9](2)@)</small>
                    </div>
                  </div>
        
                  <div class="form-outline mb-2 p-0">
                    <label class="form-label fw-bold fs-5" for="Fnamee"[translate]="'First-Name'"></label>
                    <input #fname type="string" id="Fnamee" name="Fnamee" class="form-control form-control-lg"
                      formControlName="ufirstName" [class.is-valid]="Fname?.valid" [class.is-invalid]="Fname?.invalid">
                    <div class="alert alert-danger" [hidden]="Fname?.valid || Fname?.untouched">
                      <small *ngIf="Fname?.errors?.['required']"[translate]="'First-Name-is-Required'"> </small>
                      <small *ngIf="Fname?.errors?.['pattern']">First Name Must be pattern<br>([a-zA-Z0-9](4,10))</small>
                    </div>
                  </div>
        
                  <div class="form-outline mb-2 p-0">
                    <label class="form-label fw-bold fs-5" for="Lnamee"[translate]="'Last-Name'"></label>
                    <input #lname type="string" id="Lnamee" name="Lnamee" class="form-control form-control-lg"
                      formControlName="ulastName" [class.is-valid]="Lname?.valid" [class.is-invalid]="Lname?.invalid">
                    <div class="alert alert-danger" [hidden]="Lname?.valid || Fname?.untouched">
                      <small *ngIf="Lname?.errors?.['required']"[translate]="'Last-Name-is-Required'"></small>
                      <small *ngIf="Lname?.errors?.['pattern']">Last Name Must be pattern<br>([a-zA-Z0-9](4,10))</small>
                    </div>
                  </div>
        
                  <div class="my-3">
                    <div class="col-12">
                      <input class="my-2 btn border text-primary fw-bold fs-4 w-100" type="submit" [translate]="'create-account'">
      
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
     
      <!-- Cart -->
      <div class="col-2 col-sm-2 col-md-1 p-0 m-0">
        <a routerLink="/Cart">
          <span class="fw-bold m-0 p-0 txtFont"[translate]="'cart'">
          </span>
          <span class="btn position-relative p-0 m-0">
            <img src="assets/header/cart.svg" alt="" style="width: 1.5rem !important; height: 1.5rem !important;"
              class="img-fluid">
            <span class="position-absolute top-0 start-100 translate-middle
                                       badge rounded-circle bg-primary">
              <span class="visually-hidden">5 Product in your Cart</span>
              5
            </span>
          </span>
        </a>
      </div>

    </div>
  </div>

  <nav class="navbar navbar-expand-lg navbar-expand-md  fw-bold bg-body-tertiary nav-font-size NavFont">
    <div class="container-fluid ">
      <ul class="m-0 p-0">
        <li class="navbar-brand dropdown m-0">
          <a class="nav-link dropdown-toggle text-primary" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false" [translate]="'all-categories'">
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/AllCategory" style="font-size: 0.9;" [translate]="'all-categories'"></a></li>
            <li *ngFor="let cat of categoriesList"><a class="dropdown-item" href="#"
                *ngIf="cat.parentCategory==undefined">{{ lang === 'en'? cat.name: cat.nameAr}}</a></li>
          </ul>
        </li>
      </ul>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ">
          <li class="nav-item" *ngFor="let cat of categoriesList" style="font-size: 0.9em;">
            <a class="nav-link text-dark nav-font-size" aria-current="page" href="#"
              *ngIf="cat.parentCategory==undefined" style="overflow:auto;" >
              <!-- <span *ngIf="lang else ar"> -->
                {{ lang === 'en'? cat.name: cat.nameAr}}
                <!-- </span> -->
                <!-- <ng-template #ar>{{cat.nameAr}}</ng-template> -->
              </a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

</header>
