.divhover{
    border: 1px rgb(90, 90, 90) solid;
    border-radius: 9px;
    color: rgb(85, 85, 85);
}
.divhover:hover{
    border: 2px rgb(30, 30, 255) solid;
    border-radius: 9px;
    color: rgb(66, 65, 65);

}