
<div class="container-fluid">
<div class="row">
<section class="col-3 col-sm-3 col-md-3 p-5" style="background-color: white;height: 100%;">
    <h4>Hala makaruos!</h4>
    <span>makaruosmekhail@gmail.com</span>
    <hr>
    <div class="mt-4">
         <i class="fa-brands fa-gratipay" style="color: #fed400;font-size: xx-large;"></i>
         <span class="p-3">WishList</span>

    </div>
    <div class="mt-4">
       <i class="fa-solid fa-shop" style="color: #fed400;font-size: x-large;"></i>
       <span class="p-3" >Order</span>
    </div>
</section>

<section class="col-9 col-sm-9 col-md-9 p-5" style="background-color: #f3f4f8;height: 1000px;">
    <h3><b>Orders</b></h3>
    <span class="mt-2">View your order history and check the delivery status for items</span>
    <div *ngFor="let order of allorders">
    <div style="background-color: white;" class="p-3 row divhover mt-5">
        <div class="col-3 mt-4">
            <h5><b></b></h5>
            <span class="mt-2">{{order.createdAt}}</span>
        </div>
        <div class="col-2">
            <div class="d-flex" style="height: 150px;">
                <div class="vr"></div>
                <!-- <img [src]="item.product.imagePath"style="height: 120;width: 100px;opacity: 50%;" class="ms-3"> -->
              </div>
        </div>
        <div class="col-5 me-3" >
            <div class="mt-5">
              <!-- <b >{{item.Product.modelNumber}}</b><br> 
              <span>{{lang == 'en'? item.product.name : item.product.nameAr}}</span> -->
            </div>
        </div>
        <div class="col-1">
            <div class="mt-4">
              <i class="fa-solid fa-chevron-right mt-5"  *ngIf="lang=='en'" style="color: #303030;"></i>
              <i class="fa-solid fa-chevron-left mt-5"  *ngIf="lang=='ar'" style="color: #303030;"></i>
            </div> 
        </div>
    </div>
    </div>

    <!-- <div style="background-color: white;" class="p-3 row divhover mt-5">
        <div class="col-3 mt-4">
            <h5><b>NEGF40033158599</b></h5>
            <span class="mt-2">Placed on 12 Apr 2023</span>
        </div>
        <div class="col-2">
            <div class="d-flex" style="height: 150px;">
                <div class="vr"></div>
                <img src="assets\products\samsung-Galaxy2.jpg" style="height: 120;width: 100px;opacity: 50%;" class="ms-3">
              </div>
        </div>
        <div class="col-5 me-3" >
            <div class="mt-5">
              <b >El Maleka</b><br> 
              <span >Meloky Risoni Pasta 400g</span>
            </div>
        </div>
        <div class="col-1">
            <div class="mt-4">
                <i class="fa-solid fa-chevron-right mt-5"  *ngIf="lang=='en'" style="color: #303030;"></i>
                <i class="fa-solid fa-chevron-left mt-5"  *ngIf="lang=='ar'" style="color: #303030;"></i>            </div> 
        </div>
    </div>

    <div style="background-color: white;" class="p-3 row divhover mt-5">
        <div class="col-3 mt-4">
            <h5><b>NEGF40033158599</b></h5>
            <span class="mt-2">Placed on 12 Apr 2023</span>
        </div>
        <div class="col-2">
            <div class="d-flex" style="height: 150px;">
                <div class="vr"></div>
                <img src="assets\products\samsung-Galaxy2.jpg" style="height: 120;width: 100px;opacity: 50%;" class="ms-3">
              </div>
        </div>
        <div class="col-5 me-3" >
            <div class="mt-5">
              <b >El Maleka</b><br> 
              <span >Meloky Risoni Pasta 400g</span>
            </div>
        </div>
        <div class="col-1">
            <div class="mt-4">
                <i class="fa-solid fa-chevron-right mt-5"  *ngIf="lang=='en'" style="color: #303030;"></i>
                <i class="fa-solid fa-chevron-left mt-5"  *ngIf="lang=='ar'" style="color: #303030;"></i>            </div> 
        </div>
    </div>
       -->
</section>
</div>
</div>