
<section class="col-12 bg-header-yollow p-2">
    <span class="ms-5" *ngIf="lang=='en'" [translate]="'Secure Checkout'"></span> 
    <span class="me-5" *ngIf="lang=='ar'" [translate]="'Secure Checkout'"></span> 
</section>
<section class="div-center" style="background-color:#f7f7fa ;">
      <div class="">

        <div class="jest" style="background-color:#f7f7fa ;">
          <div class="col-9">
            <h4>
          <span [translate]="'Thank You For Order'"></span><span> {{orders.user.firstName}}!</span></h4>
          <span [translate]="'Youll receive'"> </span>
          <span class="fw-bold"> {{orders.user.email}}</span>
          <span [translate]="'once your order'"></span>
          </div>
          <div class="col-3 ">
            <button class="btn btn-primary col-12" type="button"  routerLink="/Home" [translate]="'CONTINUE SHOPPING'">
            </button>
          </div>
        </div>

        <div class="mt-5 " style="background-color: white;">
          <div class="p-4">
            <!-- <span [translate]="'OrderNum'"></span> NEGF40094387240 -->
            <div class="row col-12 mt-3" style="text-align: center;">
              <span class="col-3 text-success"><i class="fa-solid fa-check" style="color: #2c902e;"></i>&nbsp;<span [translate]="'ORDERED'"></span></span>
              <span class="col-3 text-success"><i class="fa-solid fa-check" style="color: #2c902e;"></i>&nbsp;<span [translate]="'PROCESSING'"></span></span>
              <span class="col-3 text-secondary"><i class="fa-solid fa-check" style="color: #7d817d;"></i>&nbsp;<span [translate]="'SHIPPED'"></span></span>
              <span class="col-3 text-secondary"><i class="fa-solid fa-check" style="color: #7d817d;"></i>&nbsp;<span [translate]="'DELIVERED'"></span></span>
            </div>
            <div class="row col-12" >
            <div class="progress col-3 ele" role="progressbar" aria-label="Example 1px high" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 3px">
              <div class="progress-bar  bg-success " style="width: 100%"></div>
            </div>
            <div class="progress col-3 ele" role="progressbar" aria-label="Example 1px high" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 3px">
              <div class="progress-bar  bg-success" style="width: 100%"></div>
            </div>
            <div class="progress col-3 ele" role="progressbar" aria-label="Example 1px high" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 3px">
              <div class="progress-bar  bg-secondary" style="width: 100%"></div>
            </div>
            <div class="progress col-3 ele" role="progressbar" aria-label="Example 1px high" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 3px">
              <div class="progress-bar  bg-secondary" style="width: 100%"></div>
            </div>
            </div>
            <div class="mt-4">
              <i class="fa-solid fa-map-location-dot" style="color: #404040;"></i>&nbsp;<span [translate]="'Homee'"></span>
              <div class="mt-2">
              {{orders.user.firstName}} {{orders.user.lastName}}
              </div>
              <div class="mt-2">
                {{orders.address}}
              </div>
              <div class="mt-2">
                {{orders.userPhone}}<i class="fa-regular fa-circle-check" style="color: #589447;"></i>
              </div>
              <hr>
              <div class="col-12 row">
                <div class="col-8">
                  <h5 [translate]="'PAYMENT METHOD'"></h5>
                  <br>
                  <button type="button" class="btn" style="background-color: #60b346;color: white;" >{{orders.paymentMethod}}</button>&nbsp;<span style="color: #60b346;" >{{orders.paymentMethod}}</span>
                </div>
                <div class="col-4">
                  <h5 [translate]="'ORDER SUMMARY'"></h5>
                  <div><span *ngIf="lang=='en'" [translate]="'Subtotall'"></span><span *ngIf="lang=='en'" style="float: right;">{{orders.totalPrice}} EGP</span></div>
                  <div><span *ngIf="lang=='ar'" [translate]="'Subtotall'"></span><span *ngIf="lang=='ar'" style="float: left;">{{orders.totalPrice}}جنيه</span></div>
                  <div><span *ngIf="lang=='en'" [translate]="'Shippingg Fee'"></span><span *ngIf="lang=='en'" style="float: right;">{{orders.totalPrice /20}} EGP</span></div>
                  <div><span *ngIf="lang=='ar'" [translate]="'Shippingg Fee'"></span><span *ngIf="lang=='ar'" style="float: left;">{{orders.totalPrice /20}} جنيه</span></div>
                  <!-- <div><span *ngIf="lang=='en'" [translate]="'Payment-fee'"></span><span *ngIf="lang=='en'" style="float: right;">EGP 9.00</span></div>
                  <div><span *ngIf="lang=='ar'" [translate]="'Payment-fee'"></span><span *ngIf="lang=='ar'" style="float: left;">EGP 9.00</span></div> -->
                  <hr>
                  <div><span *ngIf="lang=='en'" [translate]="'TOTAL (Inclusive of VAT)'">TOTAL (Inclusive of VAT)</span><span style="float: right;" *ngIf="lang=='en'">{{orders.totalPrice + orders.totalPrice /20}}EGP</span></div>
                  <div><span *ngIf="lang=='ar'" [translate]="'TOTAL (Inclusive of VAT)'">TOTAL (Inclusive of VAT)</span><span style="float: left;" *ngIf="lang=='ar'">{{orders.totalPrice + orders.totalPrice /20}}جنيه</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>

           <!-- Item Product -->
        <div class="mt-5">
          <span [translate]="'Order Item'"></span>
        </div>
        <div style="background-color: white;"*ngFor="let item of orders.orderItems">
          <div class="col-12 row m-2" >
           <div class="col-2">
           <img [src]="item.product.imagePath" style="height: 200px;width: 100%;">
           </div>
           <div class="col-8 mt-4">
            <!-- <div>
            <span >Funday</span>
            </div> -->
            <div class="mt-2">
              <span><b>{{lang == 'en'? item.product.name : item.product.nameAr}} </b></span>
            </div>
            <div class="mt-2">
            <span><b style="color: rgb(97, 103, 97);"[translate]="'Delivery-by'"> </b><b style="color: rgb(50, 165, 50);" [translate]="'Tomorrow'"></b>&nbsp;<img src="assets\cart\express.svg"></span>
            </div>
            <div class="mt-3" >
              <i class="fa-solid fa-arrow-rotate-left" style="color: #666666;"></i>&nbsp;
             <span [translate]="'This-item-cannot-be-exchanged-o-returned'"></span>
            </div>
            <!-- <div class="mt-3">
              <span>Sold by</span>&nbsp;<b>noon Grocery</b>
            </div> -->
           </div>
           <div class="col-2 p-4">
            <span *ngIf="lang=='en'" style="float: right;">
              {{item.product.price * item.quantity}}
              <span [translate]="'EGP'"></span>
            </span><br>
            <span *ngIf="lang=='en'" style="float: right;">{{item.quantity}}UNIT</span>
            <span *ngIf="lang=='ar'" style="float: left;">
              {{item.product.price}}
              <span [translate]="'EGP'"></span>
            </span><br>
            <span *ngIf="lang=='ar'" style="float: left;">{{item.quantity}}وحدة</span>
           </div>
          </div>
         </div>

      </div>
</section>
    
  