<section class="col-12 " style="background-color: #f7f7fa;">
  <div class="col-11 mx-auto">
    <!-- Carousel -->
    <div class="div-center col-12">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true" data-bs-touch="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
            aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
            aria-label="Slide 5"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"
            aria-label="Slide 6"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6"
            aria-label="Slide 7"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/sliderImg/024017e6-cd33-4e3b-83ec-bc7993e6050d.gif" class="img-fluid" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/sliderImg/24179bd1-3e72-45f9-a320-9683209e66ff.png" class="img-fluid" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/sliderImg/42d679cf-6b6b-481f-b701-321e38125b6c.png" class="img-fluid" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/sliderImg/42d679cf-6b6b-481f-b701-321e38125b6c.png" class="img-fluid" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/sliderImg/737d994e-7561-4130-ad52-09c8e8145d98.png" class="img-fluid" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/sliderImg/f4ebbaa9-83c8-4edc-952f-08e941ba9478.png" class="img-fluid" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <!-- Categories -->
    <div class="bg-white cols-6 my-2">
      <div id="carouselExample" class="carousel slide row">
        <div class="carousel-inner row">
          <div class="carousel-item active container row item text-center ">
            <img src="assets/categories/2d473238-4b7d-4109-8bd4-0ff2ccf1382d.gif" class=" col-2 col-sm-2 col-md-1"
              alt="...">
            <img src="assets/categories/d0521280-f6cd-414d-9285-176b947c57ee.png" class=" col-2 col-sm-2 col-md-1"
              alt="...">
            <img src="assets/categories/ec4b3dab-1c53-40bd-bacd-230474f41792.png" class=" col-2 col-sm-2 col-md-1"
              alt="...">
            <img src="assets/categories/e12c1dbe-4532-42b0-8777-2e4b54d04ab5.png" class="col-2 col-sm-2 col-md-1"
              alt="...">
            <img src="assets/categories/baea37e5-1cc3-4600-aa44-e683b012a2cb.png" class=" col-2 col-sm-2 col-md-1"
              alt="...">
            <img src="assets/categories/20dd01f5-12ba-4455-b3f3-2a65d5f51081.png" class=" col-2 col-sm-2 col-md-1"
              alt="...">
            <img src="assets/categories/bc1bf6f6-908c-4fbf-b3c4-200162a4f51c.png" class=" col-2 col-sm-2 col-md-1"
              alt="...">
            <img src="assets/categories/c9bc1ab3-21d2-4b7b-bc44-1468e93f0d80.png" class=" col-2 col-sm-2 col-md-1"
              alt="...">
            <img src="assets/categories/ce7a7854-cab3-410f-bab0-d879c8caef70.png" class="col-2 col-sm-2 col-md-1"
              alt="...">
            <img src="assets/categories/049144d3-cec5-4b31-8d61-5dc7d4a65ba0.png" class=" col-2 col-sm-2 col-md-1"
              alt="...">

          </div>
          <div class="carousel-item container row text-center">
            <img src="assets/categories/7adf6f9c-f7ba-42aa-898c-0cce5da3b2df.png" class="col-2 col-sm-2 col-md-1"
              alt="...">
            <img src="assets/categories/8adec7cf-e7c4-44f4-993b-b40367a363dc.png" class="col-2 col-sm-2 col-md-1"
              alt="...">
            <img src="assets/categories/a6f622f1-2854-4f26-ad5a-20fd4486a1f6.png" class="col-2 col-sm-2 col-md-1"
              alt="...">
            <img src="assets/categories/b2650c15-2183-450b-952f-22387c6e08e1.png" class=" col-2 col-sm-2 col-md-1"
              alt="...">
            <img src="assets/categories/0b11264b-45c1-4aa9-a8ed-da8ab3f1f44b.png" class=" col-2 col-sm-2 col-md-1"
              alt="...">
            <img src="assets/categories/1dae1971-4b68-44ac-a6b9-e4f9f111be78.png" class=" col-2 col-sm-2 col-md-1"
              alt="...">
            <img src="assets/categories/44b23978-9178-48e1-a772-1def7d298ab2.png" class=" col-2 col-sm-2 col-md-1"
              alt="...">
            <img src="assets/categories/54fa5f2c-0c74-44c9-bf61-f5a588a5c025.png" class=" col-2 col-sm-2 col-md-1"
              alt="...">
            <img src="assets/categories/7957810a-6c5f-41f7-84d6-0e131ad6985a.png" class=" col-2 col-sm-2 col-md-1"
              alt="...">
            <img src="assets/categories/d1fbb9be-f5a0-49c3-9f08-8971f81f8102.png" class=" col-2 col-sm-2 col-md-1"
              alt="...">
          </div>
          <div class="carousel-item container row text-center">
            <img src="assets/categories/040.png" class=" col-2 col-sm-2 col-md-1" alt="...">
            <img src="assets/categories/031.png" class="  col-2 col-sm-2 col-md-1" alt="...">
            <img src="assets/categories/032.png" class=" col-2 col-sm-2 col-md-1" alt="...">
            <img src="assets/categories/033.png" class="  col-2 col-sm-2 col-md-1" alt="...">
            <img src="assets/categories/034.png" class="  col-2 col-sm-2 col-md-1" alt="...">
            <img src="assets/categories/035.png" class="  col-2 col-sm-2 col-md-1" alt="...">
            <img src="assets/categories/036.png" class=" col-2 col-sm-2 col-md-1" alt="...">
            <img src="assets/categories/037.png" class="  col-2 col-sm-2 col-md-1" alt="...">
            <img src="assets/categories/038.png" class=" col-2 col-sm-2 col-md-1" alt="...">
            <img src="assets/categories/039.png" class="  col-2 col-sm-2 col-md-1" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bg-secondary rounded-circle" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon bg-secondary rounded-circle" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <!-- more reasons to shop, Mega deals and In focus -->
    <div class="row  my-4">
      <div class="col-12 col-sm-12 col-md-4 ">
        <div class="bg-white me-1 p-3">
          <div class="row">
            <img src="assets/offers/morereasonstoshop.png" alt="" class="img-fluid">
          </div>
          <div class="row">
            <div class="col-6">
              <img src="assets/offers/samsungtv.png" alt="" class="img-fluid">
            </div>
            <div class="col-6">
              <img src="assets/offers/drinkware.png" alt="" class="img-fluid">
            </div>
          </div>
          <div class="row my-3">
            <div class="col-6">
              <img src="assets/offers/nike.png" alt="" class="img-fluid">
            </div>
            <div class="col-6">
              <img src="assets/offers/shaan.png" alt="" class="img-fluid">
            </div>

          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-4">
        <div class="bg-white me-1 p-3">
          <div class="row">
            <img src="assets/offers/megadealsoftheday.png" alt="" class="img-fluid">
          </div>
          <div class="row">
            <div class="col-6">
              <img src="assets/offers/supermarktdeals.png" alt="" class="img-fluid">
            </div>
            <div class="col-6">
              <img src="assets/offers/supermarktdeals1.png" alt="" class="img-fluid">
            </div>
          </div>
          <div class="row my-3">
            <div class="col-6">
              <img src="assets/offers/supermarktdeals3.png" alt="" class="img-fluid">
            </div>
            <div class="col-6">
              <img src="assets/offers/rolls.png" alt="" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-4">
        <div class="bg-white col-12">
          <div class="row">
            <img src="assets/offers/Infocuse.png" alt="" class="img-fluid">
          </div>
          <div class="row col-12">
            <img src="assets/offers/Infocuse1.png" alt="" class="img-fluid">
          </div>
          <div class="row col-12">
            <img src="assets/offers/Infocuse2.png" alt="" class="img-fluid">
          </div>
        </div>
      </div>

    </div>

    <!-- Hot deals Shop Now -->
    <div class="col-12 bg-white">
      <div class="row">
        <a>
          <h1 class="p-3" [translate]="'hot-deals'"> </h1>
        </a>
      </div>
      <!-- <div class="row"> -->
      <div id="carouselproducts" class="carousel slide row ">
        <div class="carousel-inner row">
          <div class="carousel-item active container row item text-center ">
            <div class="row mx-2">

              <div class="col-6 col-sm-4 col-md-3 col-lg-2" *ngFor="let product of hotDealsProduct|slice:0:6">
                <div class="card col-12">
                  <a>
                    <img [src]="product.imagePath" class="card-img-top  filter-gray img-fluid" alt="..." width="100"
                      height="100" (click)="getproductDetails(product.id)">
                    <div class="card-body col-12">
                      <p class="card-text product-font txtFont2" style="height:2em; overflow: hidden;"
                        (click)="getproductDetails(product.id)">
                        {{product.name}}
                      </p>
                      <span>
                        <span class="fw-bold txtFont2"> {{product.price |currency:'EGP'}}</span>
                      </span>
                      <!-- discountpipe offer -->
                      <div *ngIf="product!= undefined && product.discount >0">
                        <span
                          class="text-decoration-line-through txtFont2">{{product.price|discountpipe:product.discount|currency:'EGP'}}
                          &nbsp;</span>
                        <span class="fw-bold txtFont2" style="color: #3bbd04;">{{product?.discount}}%
                        </span>
                      </div>
                    </div>
                    <div class="row col-12 m-0 p-2 ">
                      <div class="d-inline-block col-4 m-0 p-0">
                        <img src="assets/icons/express.svg" alt="" class="col-12">
                      </div>
                      <div class=" col-6  position-absolute end-0 m-0 p-0" style="font-size: .2rem !important;">
                        <div class="d-inline-block col rounded-start-pill rounded-end-pill product-style "
                          style="width: 3rem !important; height: 1.5rem !important;">
                          <span class="fs-6 col m-0 p-0 ">
                            {{product.rate}}
                          </span>
                          <span class="col">
                            <img src="assets/icons/star.svg" alt="" class="img-fluid filter-white"
                              style="width: .8rem; margin-bottom: .2rem; color:#ffffff !important;">
                          </span>
                        </div>

                      </div>
                    </div>
                  </a>
                </div>
              </div>

            </div>
          </div>
          <div class="carousel-item container row text-center ">
            <div class="row mx-2">

              <div class="col-6 col-sm-4 col-md-3 col-lg-2" *ngFor="let product of hotDealsProduct|slice:6:12">
                <a href="#">
                  <div class="card col-12">
                    <img [src]="product.imagePath" class="card-img-top  filter-gray img-fluid " alt="..." width="100"
                      height="100" (click)="getproductDetails(product.id)">
                    <div class="card-body col-12">
                      <p class="card-text product-font txtFont2" style="height:2em; overflow: hidden;"
                        (click)="getproductDetails(product.id)">
                        {{product.name}}
                      </p>
                      <span>

                        <!-- <span class="text-decoration-line-through"> 1,999.00</span> -->
                        <span class="fw-bold txtFont2">{{product.price |currency:'EGP'}}</span>
                      </span>
                      <!-- discountpipe offer -->
                      <div *ngIf="product!= undefined && product.discount >0">
                        <span
                          class="text-decoration-line-through txtFont2">{{product.price|discountpipe:product.discount|currency:'EGP'}}
                          &nbsp;</span>
                        <span class="fw-bold txtFont2" style="color: #3bbd04;">{{product?.discount}}%
                        </span>
                      </div>
                    </div>
                    <div class="row col-12 m-0 p-2 ">
                      <div class="d-inline-block col-4 m-0 p-0">
                        <img src="assets/icons/express.svg" alt="" class="col-12">
                      </div>
                      <div class=" col-6  position-absolute end-0 m-0 p-0" style="font-size: .2rem !important;">
                        <div class="d-inline-block col rounded-start-pill rounded-end-pill product-style "
                          style="width: 3rem !important; height: 1.5rem !important;">
                          <span class="fs-6 col m-0 p-0 ">
                            {{product.rate}}
                          </span>
                          <span class="col">
                            <img src="assets/icons/star.svg" alt="" class="img-fluid filter-white"
                              style="width: .8rem; margin-bottom: .2rem; color:#ffffff !important;">
                          </span>
                        </div>

                      </div>
                    </div>
                  </div>
                </a>
              </div>

            </div>
          </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselproducts" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bg-secondary rounded-circle" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselproducts" data-bs-slide="next">
          <span class="carousel-control-next-icon bg-secondary rounded-circle" aria-hidden="true">
          </span>
          <span class="visually-hidden">
            Next
          </span>
        </button>
      </div>
    </div>

  </div>
</section>


<div class="container-fluid">


  <div class="row row-cols-1 row-cols-md-3 mt-5 bg-light">
    <div class="col-xl-4  col-sm-12">
      <div class="card">
        <h5 class="card-title px-3 py-1 fw-bold"[translate]="'mega-deals'"></h5>
        <div class="card-body row g-4">
          <div class="col-6" *ngFor="let product of hotDealsProduct|slice:0:2">
            <img [src]="product.imagePath" class="w-100" alt="..." width="100" height="200"
              (click)="getproductDetails(product.id)">
          </div>
          <div class="col-6" *ngFor="let product of hotDealsProduct|slice:2:4">
            <img [src]="product.imagePath" class="w-100" alt="..." width="100" height="200"
              (click)="getproductDetails(product.id)">
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4  col-sm-12">
      <div class="card">
        <h5 class="card-title px-3 py-1 fw-bold" [translate]="'mega-deals'"></h5>
        <div class="card-body row g-4">
          <div class="col-6" *ngFor="let product of hotDealsProduct|slice:4:6">
            <img [src]="product.imagePath" class="w-100" alt="..." width="100" height="200"
              (click)="getproductDetails(product.id)">
          </div>
          <div class="col-6" *ngFor="let product of hotDealsProduct|slice:6:8" (click)="getproductDetails(product.id)">
            <img [src]="product.imagePath" class="w-100" alt="..." width="100" height="200">
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4  col-sm-12">
      <div class="card">
        <h5 class="card-title px-3 py-1 fw-bold" [translate]="'mega-deals'"></h5>
        <div class="card-body row g-4">
          <div class="col-6" *ngFor="let product of hotDealsProduct|slice:8:10">
            <img [src]="product.imagePath" class="w-100" alt="..." width="100" height="200"
              (click)="getproductDetails(product.id)">
          </div>
          <div class="col-6" *ngFor="let product of hotDealsProduct|slice:10:12">
            <img [src]="product.imagePath" class="w-100" alt="..." width="100" height="200"
              (click)="getproductDetails(product.id)">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row p-0 m-0 col-12 ">
    <div class="col-6 col-md-4 col-xl-2  p-0 " *ngFor="let produtc of  hotDealsProduct|slice:0:6">
      <img [src]="produtc.imagePath" class="img-fluid" alt="...">
    </div>
  </div>

  <div class="col-12 bg-white">
    <div class="row">
      <a>
        <img src="img/products/d11.png" alt="" class="img-fluid ">
      </a>
    </div>
    <!-- <div class="row"> -->
    <div id="carouselproducts11" class="carousel slide row ">
      <div class="carousel-inner row">
        <div class="carousel-item active container row item text-center ">
          <div class="row mx-2">

            <div class="col-6 col-sm-4 col-md-3 col-lg-2" *ngFor="let product of hotDealsProduct|slice:6:12">
              <a href="#">
                <div class="card col-12">
                  <img [src]="product.imagePath" class="card-img-top  filter-gray" alt="..."
                    (click)="getproductDetails(product.id)">
                  <div class="card-body col-12">
                    <p class="card-text product-font txtFont2" style="height: 2em; overflow: hidden;"
                      (click)="getproductDetails(product.id)">
                      {{product.name}}
                    </p>
                    <span>
                      <span class="fw-bold txtFont2">{{product.price|currency:'EGP'}}</span>
                    </span>
                    <!-- discountpipe offer -->
                    <div *ngIf="product!= undefined && product.discount >0">
                      <span
                        class="text-decoration-line-through txtFont2">{{product.price|discountpipe:product.discount|currency:'EGP'}}
                        &nbsp;</span>
                      <span class="fw-bold txtFont2" style="color: #3bbd04;">{{product?.discount}}%
                      </span>
                    </div>
                  </div>
                  <div class="row col-12 m-0 p-0 ">
                    <div class="d-inline-block col-4 m-0 p-0">
                      <img src="assets/icons/express.svg" alt="" class="col-12">
                    </div>
                    <div class=" col-6  position-absolute end-0 m-0 p-0" style="font-size: .2rem !important;">
                      <div class="d-inline-block col rounded-start-pill rounded-end-pill product-style "
                        style="width: 3rem !important; height: 1.5rem !important;">
                        <span class="fs-6 col m-0 p-0 ">
                          {{product.rate}}
                        </span>
                        <span class="col">
                          <img src="assets/icons/star.svg" alt="" class="img-fluid filter-white"
                            style="width: .8rem; margin-bottom: .2rem; color:#ffffff !important;">
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="carousel-item container row text-center">
          <div class="row mx-2">

            <div class="col-6 col-sm-4 col-md-3 col-lg-2" *ngFor="let product of hotDealsProduct|slice:0:6">
              <a href="#">
                <div class="card col-12">
                  <img [src]="product.imagePath" class="card-img-top  filter-gray" alt="..."
                    (click)="getproductDetails(product.id)">
                  <div class="card-body col-12">
                    <p class="card-text product-font txtFont2" style="height: 2em; overflow: hidden;"
                      (click)="getproductDetails(product.id)">
                      {{product.name}}
                    </p>
                    <span>

                      <!-- <span class="text-decoration-line-through"> 1,999.00</span> -->
                      <span class="fw-bold txtFont2">{{product.price}}</span>
                    </span>
                    <!-- discountpipe offer -->
                    <div *ngIf="product!= undefined && product.discount >0">
                      <span
                        class="text-decoration-line-through txtFont2">{{product.price|discountpipe:product.discount |currency:'EGP'}}
                      </span>
                      <span class="fw-bold txtFont2" style="color: #3bbd04;">{{product?.discount}}%
                      </span>
                    </div>
                  </div>
                  <div class="row col-12 m-0 p-0 ">
                    <div class="d-inline-block col-4 m-0 p-0">
                      <img src="assets/icons/express.svg" alt="" class="col-12">
                    </div>
                    <div class=" col-6  position-absolute end-0 m-0 p-0" style="font-size: .2rem !important;">
                      <div class="d-inline-block col rounded-start-pill rounded-end-pill product-style "
                        style="width: 3rem !important; height: 1.5rem !important;">
                        <span class="fs-6 col m-0 p-0 ">
                          {{product.rate}}
                        </span>
                        <span class="col">
                          <img src="assets/icons/star.svg" alt="" class="img-fluid filter-white"
                            style="width: .8rem; margin-bottom: .2rem; color:#ffffff !important;">
                        </span>
                      </div>

                    </div>

                  </div>
                </div>
              </a>
            </div>

          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselproducts11" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bg-secondary rounded-circle" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselproducts11" data-bs-slide="next">
        <span class="carousel-control-next-icon bg-secondary rounded-circle" aria-hidden="true">
        </span>
        <span class="visually-hidden">
          Next
        </span>
      </button>
    </div>
  </div>
  <div class="card text-bg-dark my-4">
    <div class="card-body">
      <h5 class="card-title"><img src="assets/footerImg/en_dk_eg-paylater-01.png" class="col-12" alt="...">
      </h5>
      <div class="row justify-content-center">
        <img src="assets/footerImg/en_dk_eg-paylater-02.png" class="col-4" alt="...">
        <img src="assets/footerImg/en_dk_eg-paylater-03.png" class="col-4" alt="...">
      </div>
    </div>
  </div>
  <div class="row justify-content-center my-4">
    <img src="assets/footerImg/en_dk_eg-sfb-01 (85).1671871294.9492495.png" class="col-4" alt="...">
    <img src="assets/footerImg/en_dk_eg-sfb-01 (86).1671871013.1102066.png" class="col-4" alt="...">
    <img src="assets/footerImg/en_dk_eg-sfb-01 (87).1671873950.87996.png" class="col-4" alt="...">
  </div>
  <div>
    <div class="row justify-content-center my-4">
      <h3 class="fw-bold fs-2 text-center"[translate]="'footer-brands'"></h3>
    </div>

    <div class="row gy-3 gx-3 my-1  ">
      <div class=" col">
        <img src="assets/footerImg/en_dk_eg-brand-01.png" alt="...">
      </div>
      <div class="col">
        <img src="assets/footerImg/en_brand_14.png" alt="...">
      </div>
      <div class="col">
        <img src="assets/footerImg/en_brand_01.png" alt="...">
      </div>
      <div class="col">
        <img src="assets/footerImg/en_brand_02.png" alt="...">
      </div>
      <div class="col">
        <img src="assets/footerImg/en_brand_03.png" alt="...">
      </div>
      <div class="col">
        <img src="assets/footerImg/en_brand_04.png" alt="...">
      </div>

      <div class="col">
        <img src="assets/footerImg/en_brand_05.png" alt="...">
      </div>
      <div class="col">
        <img src="assets/footerImg/en_brand_06.png" alt="...">
      </div>
      <div class="col">
        <img src="assets/footerImg/en_brand_08.png" alt="...">
      </div>
      <div class="col">
        <img src="assets/footerImg/en_brand_09.png" alt="...">
      </div>
      <div class="col">
        <img src="assets/footerImg/en_brand_10.png" alt="...">
      </div>
      <div class="col">
        <img src="assets/footerImg/en_brand_11.png" alt="...">
      </div>

      <div class="col ">
        <img src="assets/footerImg/en_brand_12.png" alt="...">
      </div>
      <div class="col ">
        <img src="assets/footerImg/en_brand_13.png" alt="...">
      </div>
      <div class="col ">
        <img src="assets/footerImg/en_brand_15.png" alt="...">
      </div>
      <div class="col ">
        <img src="assets/footerImg/en_brand_16.png" alt="...">
      </div>
      <div class="col">
        <img src="assets/footerImg/en_brand_17.png" alt="...">
      </div>
      <div class="col ">
        <img src="assets/footerImg/en_brand_18.png" alt="...">
      </div>
    </div>
  </div>
</div>