.product-style{
  color:#ffffff; background-color: #39a70a; width: 5.1rem; height: 2rem;
  }
  .filter-gray{
        filter: invert(2%) sepia(0%) saturate(310%) hue-rotate(10deg) brightness(100%) contrast(100%);
  }
  .filter-white{
  filter: invert(100%) sepia(48%) saturate(4%) hue-rotate(115deg) brightness(112%) contrast(100%);
  }

  dl, ol, ul {
      margin-top: 0;
      margin-bottom: 0px;
      font: bold;
  }
    ol, ul {
      padding-left: 0px;
    }
    .element {
      padding-left: 0px;
    }
    a.btn{
      padding-left: 0px;
      margin-left: -15px;
    }

    @media screen and (min-width:1021px)and (max-width:1100px){
      .txtFont2 {
           font-size: 1.1em !important;
       }
   }
  @media screen and (min-width:1000px) and (max-width:1020px){
      .txtFont2 {
           font-size: 0.8em !important;
       }
   }
   @media screen and (min-width:768px) and (max-width:1001px) {
      .txtFont2 {
           font-size: 0.9em !important;
       }

   }
   @media screen and (min-width:400px )and (max-width:767px) {
       .txtFont2 {
           font-size: 0.8em !important;
       }
   }


    .div-center{
      display: flex;
      justify-content: center;
      background-color: white;
    }


    a {
      text-decoration: none;
      cursor: pointer !important;
      color: inherit ;
  }
  .product-font{
      font-style: normal !important;
      font-weight: 500 !important;
      font-family: proxima-nova, sans-serif !important;
      font-size: 1vw !important;
      font-style: normal !important;
      /* font color */
      color: #202022 !important;
      line-height: 15px !important;


  }
