<section class="row container-fluid  p-0 mx-0">
  <!-- ////bk -->
  <div class="col-12 d-md-block d-none head-links container-xl">
    <a href=""> Home &gt;</a>
    <a href=""> Electronics & Mobiles &gt;</a>
    <a href=""> Mobiles & Accessories &gt;</a>
    <a href=""> Mobile Phones &gt;</a>
    <a href=""> Smartphones </a>
  </div>
  <!-- //product images large screens -->
  <aside class="col-4 d-none d-md-block container-fluid " style="background-color: #F7F7FA;">
    <div class="row " >
      <div class="col-4" >
        <div *ngFor="let img of product?.productImages , let i = index" class="col-12" (click)="displayImg('{{i+1}}')"> <img id="0" [src]="img.imagePath" alt="" height="100"
            width="100"></div>
      </div>
      <div class="col-8 d-flex">
        <div class="row justify-content-center align-content-center"> <img id="main-product-img" class="img-fluid"
            [src]="product?.imagePath" height="100" width="100">
        </div>
      </div>
    </div>
  </aside>
  <!-- smartphones -->
  <section class="col-12 d-sm-block d-md-none m-0 p-0 container-fluid ">
    <div class="row">
      <div class="col-6">Samsung</div>
      <div class="col-6  smartphone-rate">
        <a href="" class="text-decoration-none px-1  rounded-pill col-5 ">4.5 <i class="fa-solid fa-star"></i></a>
        <a href="" class="text-underline-hover text-muted col-7"> 42Ratings</a>
      </div>
    </div>
    <!-- images slider phone -->
    <div class="  container-fluid ">
      <div id="carouselExampleSlidesOnly col-8" class="carousel " data-bs-ride="carousel" Wrap="true">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="2000">
            <img src="assets/products/sams_small1.avif" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="assets/products/sams-smaal2.avif" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="assets/products/sams_small3.avif" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item " data-bs-interval="2000">
            <img src="assets/products/sams-small4.avif" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>
    </div>

    <!-- </div> -->
    <div class="row container-fluid m-0 my-1 p-0  align-items-center border" id="fixed-cart-section">
      <div class="col-2 p-0 ">
        <div class="btn-group p-2 ">
          <button type="button" class="btn btn-secondary bg-light text-dark dd-button">1</button>
          <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split bg-light text-dark"
            data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu " style="min-width: 3.5rem;">
            <li><a class="dropdown-item" href="#">1</a></li>
            <li><a class="dropdown-item" href="#">2</a></li>
            <li><a class="dropdown-item" href="#">3</a></li>
            <li><a class="dropdown-item" href="#">4</a></li>
          </ul>
        </div>
      </div>
      <div class="col-10 ">
        <button type="button" class="btn col-12 p-6 cart-button"><b>Add To Cart</b></button>
      </div>
    </div>

    <div class="row  container-xl">
      <div class="col-6">
        <h4 class="d-inline-block"> EGP 4555.00 </h4> <span class="text-muted" style="font-size: 0.75em;">Inclusive of
          VAT</span>
      </div>
      <div class="col-2"></div>
      <div class="col-2"> <img src="assets/products/express.svg" alt=""></div>
    </div>
    <div class="row container-xl">
      <div class="col-4 text-muted"> <del>EGP 5350.00</del> </div>
      <div class="col-2 p-0 savings-percentage">13% off</div>
    </div>
    <div class="row container-xl">
      <div class="card border-0 " style="border-radius:0%;">
        <div class="card-body" style="background-color:#FCFBF5;">
          <span><img src="assets/products/emi.svg" alt=""></span>
          <span>Monthly payment plans from EGP 127 <span style="color: rgb(255, 174, 0); float: right;">
              <i class="fa-solid fa-greater-than"></i></span></span>
        </div>
      </div>
    </div>
    <div class="row container-xl">
      <div class="card-group p-0" style="display: inline-flex; ">
        <div class="card col-6 border-0">
          <div class="card-body">
            <p class="card-tex"> Delivery Between <b class="text-decoration-underline">Sun, 5 March -
                Mon, 6 March.</b></p>
            <p class="card-text text-muted"> Order in 23 hrs 12 mins</p>
          </div>
        </div>
        <div class="card col-6 border-0">
          <div class="card-body">
            <p class="card-text"> <b>Want It In Two Days?</b></p>
            <p class="card-text">Select <b>Two Days Delivery</b> on Checkout The next 1 hours 20
              minutes.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- frequently bought to gether  -->
    <div class="row container-xl">
      <ul class="list-group list-group-flush">
        <li class="list-group-item ">
          <div class="row">
            <div class="col-1 gx-2 "> <img src="assets/products/warrantly.svg" alt=""></div>
            <div class="col-11 ">
              <p class="mb-0 ">1 year warranty</p>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-1 gx-2 "> <img src="assets/products/return.svg" alt=""></div>
            <div class="col-11 ">
              <p class="mb-0 ">this item is eligible for <strong> free Return</strong></p>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-1 gx-2 "> <img src="assets/products/shipping.svg" alt=""></div>
            <div class="col-11 ">
              <p class="mb-0 ">Available for <strong>Noon lockers</strong> delivert</p>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row ">
            <div class="col-4">
              <div class="co-12 right-row2-img"> <img src="assets/products/return.svg" alt=""> </div>
              <div class="col-12 right-row2-text">
                <p>Low Return Seller</p>
              </div>
            </div>
            <div class="col-4 " style="border-right: 1px solid #dee2e6;">
              <div class="col-12 right-row2-img "><img src="assets/products/grating.png" alt="" style=" width:25px"></div>
              <div class="col-12 right-row2-text">Great Recent Rating</div>
            </div>
            <div class="col-4">
              <div class="col-12 ad-descibed"><strong> 90% </strong></div>
              <div class="col-12" style="font-size: 0.8em;">Product As Described</div>
            </div>
          </div>
        </li>

      </ul>
    </div>
  </section>
  <!--DESKTOP -->
  <section class="  mt-2 container-fluid col-sm-12 col-md-5">
    <div class="col-12 d-md-block d-none text-muted">{{product?.brand?.name}}</div>
    <div class="col-12 d-md-block d-none">
      <h3>{{product?.name}}</h3>
    </div>
    <div class="col-12 d-md-block d-none desktop">
      <p class="d-inline-block text-muted">Model Number : Galaxy A13 1 <span>|</span></p>
      <!-- rating icon  -->
      <a href="" class="text-decoration-none px-1  rounded-pill"><span>{{product?.rate}}</span>
        <span><i class="fa-solid fa-star"></i></span>
      </a>
    </div>
    <!-- product discount details -->
    <!-- <div class="col-12 d-md-block d-none" *ngIf="">
      <div class="row">
        <div class="col-4">Was : </div>
        <div class="col-8 text-muted"> <del></del> </div>
      </div>
      <div class="row">
        <div class="col-4">Now : </div>
        <div class="col-8">
          <h4 class="d-inline-block"> EGP 4555.00 </h4> <span class="text-muted">Inclusive of VAT</span>
        </div>
      </div>
      <div class="row">
        <div class="col-4">Saving :</div>
        <div class="col-8">EGP 795.00 <span class="profit"> 14%off </span></div>
      </div>
    </div> -->
    <div class="col-12 d-md-block d-none">
      <h4 class="d-inline-block"> {{product?.price |currency:'EGP'}}</h4> <span class="text-muted"></span>
    </div>
    <div class="col-12  d-md-block d-none">
      <div class="card border-0 " style="border-radius:0%;">
        <div class="card-body" style="background-color:#FCFBF5;">
          <span><img src="assets/products/emi.svg" alt=""></span>
          <span>Monthly payment plans from EGP 127</span>
          <span><a href=""> View More Details </a></span>
        </div>
      </div>
    </div>
    <div class="col-12 d-none d-md-block ">
      <div class="card border-0 " style="border-radius:0%;">
        <div class="card-body " style="background-color: #F5F7FE;">
          <div class="outside-card-content d-flex">
            <div class="col5">
              <p class=" text-muted"> Order in 23 hrs 12 mins</p>
              <h6 class="text-decoration-underline">FREE Two Days Delivery.</h6>
            </div>

            <div class="col-4"></div>
            <div class="col-3 align-content-end ">
              <img src="assets/products/express.svg" alt="">
              <img src="assets/products/help.svg" alt="">
            </div>
          </div>
          <!-- //inside card  -->
          <div class="card border-0" style="border-radius:0%;">
            <div class="card-body">
              <!-- //inline  -->
              <span> <img src="assets/products/same_day_delivery.svg" alt=""></span>
              <span>
                <p class="d-inline-block">Want it Today? Select <strong>Get It Today</strong> on
                  checkout within the next <strong>8 hours 12 minutes</strong> .</p>
              </span>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- cart -->
    <div class="row d-md-block d-none mb-5">
      <div class="row">
        <div class="col-2">
          <div class="col-12 fw-bold text-center">Quantity</div>
          <!-- <div class="btn-group m-2 border-opacity-25 ">
            <button type="button" class="btn btn-secondary bg-light text-dark dd-button ">1 </button>
            <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split bg-light text-dark "
              data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
              <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu " style="min-width: 3.5rem;">
              <li><a class="dropdown-item" href="#">1</a></li>
              <li><a class="dropdown-item" href="#">2</a></li>
              <li><a class="dropdown-item" href="#">3</a></li>
              <li><a class="dropdown-item" href="#">4</a></li>
            </ul>
          </div> -->
        <select class="form-select" aria-label="Default select example">
          <option selected>1</option>
          <option value="1" *ngFor="let item of  Productquantity;let i =index">{{i+2}}</option>
          <!-- <option value="2">3</option>
          <option value="3">4</option> -->
        </select>
        </div>
        <div class="col-8">
          <button type="button" class="btn  col-12 m-3 p-3 cart-button "><b>Add To Cart</b></button>
        </div>
        <div class="col-2">
          <div class="Favoite-button d-flex justify-content-center p-3 m-3 "><i class="fa-solid fa-heart " id="fav"
              onclick="changefavButtobColor(this)" style="color: #AAB8C2; font-size: 2em;"></i></div>
        </div>
      </div>
    </div>
    <div class="row container-fluid">
      <div class="row d-sm-block">
        <div class="col-6 col-sm-12">
          <span class="text-muted">Color Name: </span>
          <span class="colorName "> Black</span>
        </div>
        <div class="row container-fluid">
          <div class="col"><img id="0" src="assets/products/sams_small1.avif" alt="" height="100" width="100"></div>
          <div class="col"><img id="1" src="assets/products/samsung-GalaxyBlue1.jpg" alt="" height="100" width="100"></div>
          <div class="col"> <img id="2" src="assets/products/samsung-Galaxywhite1.jpg" alt="" height="100" width="100">
          </div>
        </div>
      </div>
    </div>
  </section>
  <aside class="col-3 d-md-block d-none container-fluid">
    <div class="row">
      <div class="card"
        style="width:100%; border-radius: 0%; border-right: transparent; border-bottom:transparent ;border-top: tra;">
        <ul class="list-group list-group-flush border-0">
          <li class="list-group-item ">
            <div class="row">
              <div class="col-1 gx-2"> <img src="assets/products/return.svg" alt=""></div>
              <div class="col-11">
                <p class="mb-0 " style="font-size: 0.8em;">Enjoy hassle free returns with this
                  offer.</p>
                <a href="" class="text-decoration-underline"> Learn More</a>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-1 gx-2"> <img src="assets/products/warrantly.svg" alt=""></div>
              <div class="col-11">
                <p class="mb-0 " style="font-size: 0.8em;">1 year warranty</p>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-1 gx-2"> <img src="assets/products/sold.svg" alt=""></div>
              <div class="col-11 ">
                <p class="mb-0 " style="font-size: 0.8em;">&nbsp;Sold By&nbsp; <a href=""
                    class="text-decoration-underline fw-bold"> noon </a></p>
                <a href="" class="text-decoration-none px-1  rounded-pill"
                  style="background-color: #82AE04;color: white;"><span>4.5</span>
                  <span><i class="fa-solid fa-star"></i></span>
                </a>

              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row ">
              <div class="col-4 ">
                <img src="assets/products/return.svg" alt="">
                <div class="col-12" style="font-size: 0.75em; font-weight: bold; text-align: center;">
                  <p>Low Return Seller</p>
                </div>
              </div>
              <div class="col-4 " style="border-right: 1px solid #dee2e6;">
                <div class="col-12 "><img src="assets/products/grating.png" alt="" style=" width:25px">
                </div>
                <div class="col-12" style="font-size: 0.75em; font-weight: bold; text-align: center;">Great Recent
                  Rating</div>
              </div>
              <div class="col-4 NavFont">
                <div class="col-12" style="color:#38AE04;"><strong> 90% </strong>
                </div>
                <div class="col-12" style="font-size: 0.8em;">Product As Described</div>
              </div>
            </div>
          </li>
          <li class="list-group-item ">
            <div class="row">
              <div class="col-2 gx-2"><span><img src="assets/products/free_returns_usp.svg" alt=""></span> </div>
              <div class="col-10">
                <p class="mb-0 " style="font-size: 0.7em; font-weight: bold;">FREE RETURNS</p>
                <p class="text-muted">Get free returns on eligible items</p>
              </div>
            </div>
          </li>
          <li class="list-group-item ">
            <div class="row">
              <div class="col-2 gx-2"><span><img src="assets/products/shipping.svg" alt=""></span> </div>
              <div class="col-10">
                <p class="mb-0 " style="font-size: 0.7em; font-weight: bold;">TRUSTED SHIPPING</p>
                <p class="text-muted">Free shipping when you spend EGP 200 and above on express
                  items</p>
              </div>
            </div>
          </li>
          <li class="list-group-item ">
            <div class="row">
              <div class="col-2 gx-2"><span><img src="assets/products/secure_usp.svg" alt=""></span>
              </div>
              <div class="col-10">
                <p class="mb-0  " style="font-size: 0.7em; font-weight: bold;">SECURE SHOPPING</p>
                <p class="text-muted">Your data is always protected</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </aside>
  <section class="row container-fluid">
    <div class="card border-0">
      <div class="card-header">
        <ul class="nav card-header-tabs fw-bold">
          <li class="nav-item border-bottom border-primary border-3">
            <a class="nav-link fw-bold " aria-current="true" href="#">OVERVIEW</a>
          </li>
          <li class="nav-item" onclick="document.getElementById('over').classList.add('d-none')">
            <a class="nav-link fw-bold" href="#specific">SPECIFICATION</a>
          </li>
          <li class="nav-item fw-bold">
            <a class="nav-link">REVIEWS</a>
          </li>
        </ul>
      </div>
      <div class="card-body hilight" id="over">
        <h5 class="card-title">Highlights</h5>
        <ul>
          <p class="card-text">
          <li>Gorilla Glass 5 finish on the front.</li>
          <li>Great all-around battery life</li>
          <li>The daylight camera quality is solid. ...</li>
          <li>Latest Android 12 and solid One UI Core with lots of features</li>
        </p>
        </ul>
      </div>
      <!-- SPECIFICATION TABLE  -->
      <div class="row" id="specific">
        <h5 class="row container-xl m-2 p-3">Specification</h5>
        <div class="col-lg-6 col-sm-12 ">

          <table class="table table-secondary table-light ">
            <tbody>
              <tr>
                <td scope="col">Audio Jack</td>
                <td scope="col">3.5 mm</td>
              <tr>
                <td scope="col">Battery Size</td>
                <td scope="col">5000 mAh</td>
              </tr>
              <tr>
                <td scope="col">Battery Type</td>
                <td scope="col">Lithium Polymer</td>
              </tr>
              <tr>
                <td scope="col">Camera Type</td>
                <td scope="col">Primary Camera + Secondary Camera</td>
              </tr>
              <tr>
                <td scope="col">Charging Type</td>
                <td scope="col">Type-C</td>
              </tr>
              <tr>
                <td scope="col">Colour Name</td>
                <td scope="col">Black</td>
              </tr>
              <tr>
                <td scope="col">Country of Origin</td>
                <td scope="col">Egypt</td>
              </tr>
              <tr>
                <td scope="col">Display Resolution</td>
                <td scope="col">1080x2400</td>
              </tr>
              <tr>
                <td scope="col">Network</td>
                <td scope="col">4G</td>
              </tr>
              <tr>
                <td scope="col">Expandable Memory Type</td>
                <td scope="col">MicroSD</td>
              </tr>
              <tr>
                <td scope="col">Fast Charging</td>
                <td scope="col">Yes</td>
              </tr>
              <tr>
                <td scope="col">Flash</td>
                <td scope="col">LED</td>
              </tr>
              <tr>
                <td scope="col">Glass Technology</td>
                <td scope="col">Gorilla Glass</td>
              </tr>
              <tr>
                <td scope="col">Internal Memory</td>
                <td scope="col">64 GB</td>
              </tr>
              <tr>
                <td scope="col">Finish</td>
                <td scope="col">Plastic</td>
              </tr>
              <tr>
                <td scope="col">Maximum Expandable Memory</td>
                <td scope="col">1 TB</td>
              </tr>
              <tr>
                <td scope="col">Model Name</td>
                <td scope="col">Galaxy A13 1</td>
              </tr>
              <tr>
                <td scope="col">Model Number</td>
                <td scope="col">Galaxy A13 1</td>
              </tr>
              <tr>
                <td scope="col">Model Year</td>
                <td scope="col">2022</td>
              </tr>
              <tr>
                <td scope="col">Network Frequency Band</td>
                <td scope="col">GSM/LTE</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-lg-6 col-sm-12">
          <table class="table table-secondary table-light">
            <tbody>
              <tr>
                <td scope="col">Number of Cores</td>
                <td scope="col">Octal Core</td>
              </tr>
              <tr>
                <td scope="col">Operating System</td>
                <td scope="col">Android</td>
              </tr>
              <tr>
                <td scope="col">Operating System Number</td>
                <td scope="col">4.1</td>
              </tr>
              <tr>
                <td scope="col">Primary Camera Feature</td>
                <td scope="col">Quad</td>
              </tr>
              <tr>
                <td scope="col">Primary Camera (MP)</td>
                <td scope="col">50+5+2+2 MP</td>
              </tr>
              <tr>
                <td scope="col">Primary Camera Resolution</td>
                <td scope="col">50 MP</td>
              </tr>
              <tr>
                <td scope="col">Processor Number</td>
                <td scope="col">Exynos 850</td>
              </tr>
              <tr>
                <td scope="col">Processor Speed</td>
                <td scope="col">2 GHz</td>
              </tr>
              <tr>
                <td scope="col">Product Height</td>
                <td scope="col">8.8 cm</td>
              </tr>
              <tr>
                <td scope="col">Product Length</td>
                <td scope="col">165.1 cm</td>
              </tr>
              <tr>
                <td scope="col">Product Weight</td>
                <td scope="col">195 g</td>
              </tr>
              <tr>
                <td scope="col">Product Width/Depth</td>
                <td scope="col">76.4 cm</td>
              </tr>
              <tr>
                <td scope="col">RAM Size</td>
                <td scope="col">4 GB</td>
              </tr>
              <tr>
                <td scope="col">Screen Size</td>
                <td scope="col">6.6 inch</td>
              </tr>
              <tr>
                <td scope="col">Secondary Camera Resolution</td>
                <td scope="col">8 MP</td>
              </tr>
              <tr>
                <td scope="col">SIM Count</td>
                <td scope="col">Dual SIM</td>
              </tr>
              <tr>
                <td scope="col">SIM Type</td>
                <td scope="col">Nano SIM</td>
              </tr>
              <tr>
                <td scope="col">Version</td>
                <td scope="col">Egypt Version</td>
              </tr>
              <tr>
                <td scope="col">Video Recording Resolution Type</td>
                <td scope="col">1080p</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </section>
</section>
