
<div dir="{{dir}}">
<app-header class="col-12 col-sm-12 col-md-12"></app-header>
<!-- <app-wish-list class="col-12 col-sm-12 col-md-12"></app-wish-list> -->
<!-- <app-all-category class="col-12 col-sm-12 col-md-12"></app-all-category> -->
<!-- <app-cart class="col-12 col-sm-12 col-md-12"></app-cart> -->
<!-- <app-notfound class="col-12 col-sm-12 col-md-12"></app-notfound> -->
<router-outlet></router-outlet>

<!-- <app-slidbar-allcategory class="col-12 col-sm-12 col-md-12"></app-slidbar-allcategory> -->
<!-- <app-details class="col-12 col-sm-12 col-md-12"></app-details> -->
<!-- <app-home class="col-12 col-sm-12 col-md-12"></app-home> -->
<app-footer class="col-12 col-sm-12 col-md-12"></app-footer>

</div>
