<header class="header row ">
  <div class="logo col-2 ">
    <img
      class="img-fluid mx-auto ms-3 mt-5"
      src="assets/header/noon-logo-en.svg"
      alt=""
    />
  </div>
  <div class="col-6"></div>
  <div class="col-4 ps-5 mt-5">
    <span class="lang">العربية </span><span class="ms-3 me-3">|</span>
    <a href="#" class="text-dark">Back to noon.com</a>
  </div>
</header>

<section class="section hero mb-5">
  <div class="hero-inner">
    <h1 class="hero-title">Ahlan! How can we help you?</h1>
    <form
      role="search"
      class="search search-full"
      data-search=""
      data-instant="true"
      autocomplete="off"
      action="/hc/en-us/search"
      accept-charset="UTF-8"
      method="get"
    >
      <input name="utf8" type="hidden" value="✓" autocomplete="off" /><input
        type="search"
        name="query"
        id="query"
        placeholder="Search the help center"
        autocomplete="off"
        aria-label="Search"
      /><img class="img-fluid se mb-4" src="assets/icons/search.png" />
    </form>
  </div>
</section>
<div class="container ms-5">
  <section class="knowledge-base">
    <h2 class="sub-title ms-4">Browse Topics</h2>
    <section class="cards">
      <ul class="block-list">
        <li class="block-item row">
          <img
            class="col-4 mb-5 ms-5 img-fluid"
            src="assets/helpp/noon.svg"
            alt=""
          />
          <div class="col-8">
            <h4 class="blocks-item-title">About noon</h4>
            noon is an easy and secure marketplace platform for people to
            discover and shop the products they love.
            <hr class="mt-3 mb-2"/><span class="article">3 articles</span>

          </div>
        </li>
        <li class="block-item row">
            <img
            class="col-4 mb-5 ms-5 img-fluid"
            src="assets/helpp/noon.svg"
            alt=""
          />
          <div class="col-8">
            <h4 class="blocks-item-title">noon VIP Loyality Program</h4>
            We’re giving you the freedom to explore a world of personalized benefits, discover exclusive offers and shop with inc...
            <hr class="mt-3 mb-2"/><span class="article">16 articles</span>

          </div>
        </li>
        <li class="block-item row"> <img
            class="col-4 mb-5 ms-5 img-fluid"
            src="assets/helpp/prom.svg"
            alt=""
          />
          <div class="col-8">
            <h4 class="blocks-item-title">Promotions</h4>
            Here you'll find information about all the promotions that are currently running on noon.
            <hr class="mt-3 mb-2"/><span class="article">2 articles</span>

          </div></li>
        <li class="block-item row"> <img
            class="col-4 mb-5 ms-5 img-fluid"
            src="assets/helpp/articles.svg"
            alt=""
          />
          <div class="col-8">
            <h4 class="blocks-item-title">Promoted Articles</h4>
            As a customer of noon, we think you should be reading these articles; they will make you a smarter shopper.
            <hr class="mt-3 mb-2"/><span class="article">6 articles</span>

          </div></li>
        <li class="block-item row"> <img
            class="col-4 mb-5 ms-5 img-fluid"
            src="assets/helpp/me account.svg"
            alt=""
          />
          <div class="col-8">
            <h4 class="blocks-item-title">My Account</h4>
            Everything you want to know about your orders, addresses, payment methods and more.
            <hr class="mt-3 mb-2"/><span class="article">3 articles</span>

          </div></li>
        <li class="block-item row"> <img
            class="col-4 mb-5 ms-5 img-fluid"
            src="assets/helpp/general.svg"
            alt=""
          />
          <div class="col-8">
            <h4 class="blocks-item-title">General</h4>
            This is for everything noon related, all general information goes here from our partnerships to our merchandising.
            <hr class="mt-3 mb-2"/><span class="article">20 articles</span>

          </div></li>
        <li class="block-item row"> <img
            class="col-4 mb-5 ms-5 img-fluid"
            src="assets/helpp/search.svg"
            alt=""
          />
          <div class="col-8">
            <h4 class="blocks-item-title">Search</h4>
            Step right in, if you are looking for a product or playing with our fancy filtering mechanism.

            <hr class="mt-3 mb-2"/><span class="article">5 articles</span>

          </div></li>
        <li class="block-item row"> <img
            class="col-4 mb-5 ms-5 img-fluid"
            src="assets/helpp/orders.svg"
            alt=""
          />
          <div class="col-8">
            <h4 class="blocks-item-title">Orders</h4>
            Want to know what you previously ordered, how much you paid for it and what type of payment you did?
            <hr class="mt-3 mb-2"/><span class="article">9 articles</span>

          </div></li>
        <li class="block-item row"> <img
            class="col-4 mb-5 ms-5 img-fluid"
            src="assets/helpp/payment.svg"
            alt=""
          />
          <div class="col-8">
            <h4 class="blocks-item-title">Payments</h4>
            Interested in payment methods available on noon, card security or Apple Pay? Then this is for you.
            <hr class="mt-3 mb-2"/><span class="article">2 articles</span>

          </div></li>
        <li class="block-item row"> <img
            class="col-4 mb-5 ms-5 img-fluid"
            src="assets/helpp/delivery.svg"
            alt=""
          />
          <div class="col-8">
            <h4 class="blocks-item-title">Shipping & Delivery</h4>
            Ever wondered how noon products reach you or what delivery options are available, everything is answered here.
            <hr class="mt-3 mb-2"/><span class="article">1 article</span>

          </div></li>
      </ul>
    </section>
  </section>
</div>
<footer class="footer">
    <div class="footer-inner ms-5">
           © 2023 noon. All Rights Reserved.
  
    </div>
  </footer>
