<div class="containe-fluid">
  <div class="row">
    <hr />
    <div class="col-1 wish">WishList</div>
    <div class="col-9"></div>
    <div class="col-2">
      <button class="sc-2e397e34-3 eTCqUt">Create New Wishlist</button>
    </div>
  </div>
  <hr />
  <div class="row">
    <aside class="col-4 mb-5">
      <div class="mt-5 pt-3 ps-3 bg-color">
        <div class="row">
          <h6 class="ms-3 col-2">default</h6>
          <span class="notbutton col-2">Default</span>
        </div>
        <div class="row mt-2">
          <p class="col-2 ms-3">2 items</p>
          <img class="col-2 mt-1 im" src="assets/bag.svg" alt="" />
        </div>
      </div>
    </aside>
    <div class="col-8">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 py-3">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4" id="products-list">
              <div class="col product-card p-2">
                <div class="p-2 bg-white h-100">
                  <div class="div-center col-12">
                    <div id="carouselExampleIndicators" class="carousel" data-bs-ride="true" data-bs-touch="true">
                      <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                          class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                          aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                          aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                          aria-label="Slide 4"></button>
                      </div>
                      <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="1000">
                          <img src="assets/0.avif" class="img-fluid" alt="..." />
                        </div>
                        <div class="carousel-item" data-bs-interval="1000">
                          <img src="assets/1.avif" class="img-fluid" alt="..." />
                        </div>
                        <div class="carousel-item" data-bs-interval="1000">
                          <img src="assets/2.avif" class="img-fluid" alt="..." />
                        </div>
                        <div class="carousel-item" data-bs-interval="1000">
                          <img src="assets/3.avif" class="img-fluid" alt="..." />
                        </div>
                      </div>
                      <button class="carousel-control-prev" style="fill: black" type="button"
                        data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>
                  </div>

                  <h6 class="prod-card-title">
                    Xiberia V20 Gaming Headset,Stereo Surrounding...
                  </h6>
                  <div class="d-flex flex-row">
                    <p>EGP</p>
                    <h6 class="px-2 fw-bold" style="display: block">299.00</h6>
                    <h6 style="color: #38ae04">23% OFF</h6>
                  </div>
                  <div class="d-flex flex-row flex-wrap justify-content-between">
                    <div class="express-badge my-2"><img src="assets/ex.svg" alt=""></div>
                    <div class="d-flex flex-row my-2">
                      <div class="prod-rate border rounded bg-warning text-light">
                        4.8
                        <i class="bi bi-star-fill bg-warning text-light"></i>
                      </div>
                      <div class="p-1 text-secondary">(35)</div>
                    </div>
                  </div>
                  <div class="row">
                    <button class="sc-2e397e34-3 eTCqUt rounded col-9">
                      ADD TO CART
                    </button>
                    <button class="sc-33c21cfe-5 iwWjlf col-3">
                      <span class="sc-33c21cfe-7 kvNvqX"><img src="assets/more-blue.svg" alt="more" width="30px"
                          height="20px" class="sc-b51db3f-1 bwDhlu " /></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
