  <div class="accordion accordion-flush" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="header-id">
        <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse"
          data-bs-target="#body-id" aria-expanded="true" aria-controls="body-id">
          Fulfillment
        </button>
      </h2>
      <div id="body-id" class="accordion-collapse collapse show" aria-labelledby="header-id">
        <div class="accordion-body bg-light">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <span class="express">express</span>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header " id="header-id2">
        <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse"
          data-bs-target="#body-id2" aria-expanded="true" aria-controls="body-id2">
          Category
        </button>
      </h2>
      <div id="body-id2" class="accordion-collapse collapse " aria-labelledby="header-id2">
        <div class="accordion-body bg-light">
          <div class="accordion-item ">
            <h2 class="accordion-header" id="header-id33">
              <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#body-id33" aria-expanded="true" aria-controls="body-id33">
                Home & Kitchen
              </button>
            </h2>
            <div id="body-id33" class="accordion-collapse collapse " aria-labelledby="header-id33">
              <div class="accordion-body bg-light text-muted">
                <div>Home & Kitchen</div>
                <div><i class="fa-solid fa-plus"></i> Home Decor
                </div>
                <div><i class="fa-solid fa-plus"></i> Kitchen & Dining
                </div>
                <div><i class="fa-solid fa-plus"></i> Bedding
                </div>
                <div><i class="fa-solid fa-plus"></i> Furniture
                </div>
                <div><i class="fa-solid fa-plus"></i> Kitchen & Home Appliances
                </div>
                <div><i class="fa-solid fa-plus"></i> Storage & Organisation
                </div>
                <div><i class="fa-solid fa-plus"></i> Bath
                </div>
                <div><i class="fa-solid fa-plus"></i> Household Supplies
                </div>
                <div><i class="fa-solid fa-plus"></i> Patio, Lawn & Garden</div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="header-id44">
              <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#body-id44" aria-expanded="true" aria-controls="body-id44">
                Electronics & Mobiles
              </button>
            </h2>
            <div id="body-id44" class="accordion-collapse collapse " aria-labelledby="header-id44">
              <div class="accordion-body bg-light text-muted">
                <div>All Electronics & Mobiles</div>
                <div><i class="fa-solid fa-plus"></i> Mobiles & Accessories
                </div>
                <div><i class="fa-solid fa-plus"></i> Computers & Accessories
                </div>
                <div><i class="fa-solid fa-plus"></i> Video Games
                </div>
                <div><i class="fa-solid fa-plus"></i> Wearables
                </div>
                <div><i class="fa-solid fa-plus"></i> Camera & Photo
                </div>
                <div><i class="fa-solid fa-plus"></i> Television & Video
                </div>
                <div><i class="fa-solid fa-plus"></i> Portable Audio & Video
                </div>
                <div><i class="fa-solid fa-plus"></i> Accessories & Supplies
                </div>
                <div><i class="fa-solid fa-plus"></i> Home Audio</div>
                <div><i class="fa-solid fa-plus"></i> Software</div>
                <div> GPS & Navigation</div>
                <div> Gift Cards</div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="header-id55">
              <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#body-id55" aria-expanded="true" aria-controls="body-id55">
                Fashion
              </button>
            </h2>
            <div id="body-id55" class="accordion-collapse collapse " aria-labelledby="header-id55">
              <div class="accordion-body bg-light text-muted">
                <div>All Fashion</div>
                <div><i class="fa-solid fa-plus"></i> Women
                </div>
                <div><i class="fa-solid fa-plus"></i> Men
                </div>
                <div><i class="fa-solid fa-plus"></i> Bags & Luggage
                </div>
                <div><i class="fa-solid fa-plus"></i> Girls
                </div>
                <div><i class="fa-solid fa-plus"></i> Boys
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="header-id58">
              <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#body-id58" aria-expanded="true" aria-controls="body-id58">
                Books
              </button>
            </h2>
            <div id="body-id58" class="accordion-collapse collapse " aria-labelledby="header-id58">
              <div class="accordion-body bg-light text-muted">
                <div>All Books</div>
                <div><i class="fa-solid fa-plus"></i> Business & Finance
                </div>
                <div><i class="fa-solid fa-plus"></i> Children's Books
                </div>
                <div><i class="fa-solid fa-plus"></i> Fiction
                </div>
                <div><i class="fa-solid fa-plus"></i> Reference
                </div>
                <div><i class="fa-solid fa-plus"></i> Computer & Technology
                </div>
                <div><i class="fa-solid fa-plus"></i> Health & Personal Development
                </div>
                <div><i class="fa-solid fa-plus"></i> Society & Social Sciences
                </div>
                <div><i class="fa-solid fa-plus"></i> English Language Teaching (ELT)
                </div>
                <div><i class="fa-solid fa-plus"></i> Arts, Architecture & Photography
                </div>
                <div><i class="fa-solid fa-plus"></i> Language
                </div>
                <div><i class="fa-solid fa-plus"></i> Biography & True Stories
                </div>
                <div><i class="fa-solid fa-plus"></i> Lifestyle, Sport & Leisure Religious &
                  Spiritual
                </div>
                <div><i class="fa-solid fa-plus"></i> History & Archaeology
                </div>
                <div><i class="fa-solid fa-plus"></i> Food Drink
                </div>
                <div><i class="fa-solid fa-plus"></i> Technology, Engineering & Agriculture
                </div>
                <div><i class="fa-solid fa-plus"></i> Literature
                </div>
                <div><i class="fa-solid fa-plus"></i> Law
                </div>
                <div><i class="fa-solid fa-plus"></i> Earth Sciences & Geography
                </div>
                <div><i class="fa-solid fa-plus"></i> Medical
                </div>
                <div><i class="fa-solid fa-plus"></i> Mathematics & Science
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="header-id59">
              <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#body-id59" aria-expanded="true" aria-controls="body-id59">
                Beauty & Health
              </button>
            </h2>
            <div id="body-id59" class="accordion-collapse collapse " aria-labelledby="header-id59">
              <div class="accordion-body bg-light text-muted">
                <div>All Beauty & Health</div>
                <div><i class="fa-solid fa-plus"></i> Beauty & Fragrance
                </div>
                <div><i class="fa-solid fa-plus"></i> Health
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="header-id60">
              <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#body-id60" aria-expanded="true" aria-controls="body-id60">
                Automotive
              </button>
            </h2>
            <div id="body-id60" class="accordion-collapse collapse " aria-labelledby="header-id60">
              <div class="accordion-body bg-light text-muted">
                <div>All Automotive</div>
                <div><i class="fa-solid fa-plus"></i> Exterior Accessories
                </div>
                <div><i class="fa-solid fa-plus"></i> Interior Accessories
                </div>
                <div><i class="fa-solid fa-plus"></i> Car Care
                </div>
                <div><i class="fa-solid fa-plus"></i> Replacement Parts Gifts & Merchandise
                </div>
                <div><i class="fa-solid fa-plus"></i> Car Body Parts
                </div>
                <div><i class="fa-solid fa-plus"></i> Motorcycle & Powersports
                </div>
                <div><i class="fa-solid fa-plus"></i> Car & Vehicle Electronics
                </div>
                <div><i class="fa-solid fa-plus"></i> Tools & Equipment
                </div>
                <div><i class="fa-solid fa-plus"></i> Tyres & Wheels
                </div>
                <div><i class="fa-solid fa-plus"></i> Oils & Fluids
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="header-id61">
              <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#body-id61" aria-expanded="true" aria-controls="body-id61">
                Tools & Home Improvement
              </button>
            </h2>
            <div id="body-id61" class="accordion-collapse collapse " aria-labelledby="header-id61">
              <div class="accordion-body bg-light text-muted">
                <div>All Tools & Home Improvement</div>
                <div><i class="fa-solid fa-plus"></i> Kitchen & Bath Fixtures
                </div>
                <div><i class="fa-solid fa-plus"></i> Power & Hand Toolss
                </div>
                <div><i class="fa-solid fa-plus"></i> Lighting & Ceiling Fans
                </div>
                <div><i class="fa-solid fa-plus"></i> Electrical
                </div>
                <div><i class="fa-solid fa-plus"></i> Safety & Security
                </div>
                <div><i class="fa-solid fa-plus"></i> Hardware Sewing Machine Accessories
                </div>
                <div><i class="fa-solid fa-plus"></i> Laundry Care
                </div>
                <div><i class="fa-solid fa-plus"></i> Rough Plumbing
                </div>
                <div><i class="fa-solid fa-plus"></i> Painting Supplies & Wall Treatments
                </div>
                <div><i class="fa-solid fa-plus"></i> Building Supplies
                </div>
                <div><i class="fa-solid fa-plus"></i> Sewing Machines
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="header-id62">
              <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#body-id62" aria-expanded="true" aria-controls="body-id62">
                Toys & Games
              </button>
            </h2>
            <div id="body-id62" class="accordion-collapse collapse " aria-labelledby="header-id62">
              <div class="accordion-body bg-light text-muted">
                <div>All Toys & Games</div>
                <div><i class="fa-solid fa-plus"></i> Games
                </div>
                <div><i class="fa-solid fa-plus"></i> Novelty Toys
                </div>
                <div><i class="fa-solid fa-plus"></i> Baby & Toddler Toys
                </div>
                <div><i class="fa-solid fa-plus"></i> Sports & Outdoor Play
                </div>
                <div><i class="fa-solid fa-plus"></i> Puzzles
                </div>
                <div><i class="fa-solid fa-plus"></i> Party Supplies
                </div>
                <div><i class="fa-solid fa-plus"></i> Dolls & Accessories
                </div>
                <div><i class="fa-solid fa-plus"></i> Figures & Statues
                </div>
                <div><i class="fa-solid fa-plus"></i> Building Toys
                </div>
                <div><i class="fa-solid fa-plus"></i> Learning & Education
                </div>
                <div><i class="fa-solid fa-plus"></i> Arts & Crafts
                </div>
                <div><i class="fa-solid fa-plus"></i> Pretend Play
                </div>
                <div><i class="fa-solid fa-plus"></i> Remote Controlled Toys
                </div>
                <div><i class="fa-solid fa-plus"></i> Die-Cast & Play Vehicles
                </div>
                <div><i class="fa-solid fa-plus"></i> Ride-Ons, Tricycles & Scooters
                </div>
                <div><i class="fa-solid fa-plus"></i> Hobbies
                </div>
                <div><i class="fa-solid fa-plus"></i> Stuffed Animals & Plush
                </div>
                <div><i class="fa-solid fa-plus"></i> Electronics For Kids
                </div>
                <div><i class="fa-solid fa-plus"></i> Dressing Up & Costumes
                </div>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="header-id63">
              <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#body-id63" aria-expanded="true" aria-controls="body-id63">
                Sports, Fitness & Outdoors
              </button>
            </h2>
            <div id="body-id63" class="accordion-collapse collapse " aria-labelledby="header-id63">
              <div class="accordion-body bg-light text-muted">
                <div>All Sports, Fitness & Outdoors</div>
                <div><i class="fa-solid fa-plus"></i> Exercise & Fitness
                </div>
                <div><i class="fa-solid fa-plus"></i> Cycling & Endurance
                </div>
                <div><i class="fa-solid fa-plus"></i> Boating & Water Sports
                </div>
                <div><i class="fa-solid fa-plus"></i> Sports Protective Gear
                </div>
                <div><i class="fa-solid fa-plus"></i> Combat Sports
                </div>
                <div><i class="fa-solid fa-plus"></i> Team Sports
                </div>
                <div><i class="fa-solid fa-plus"></i> Hunting & Fishing
                </div>
                <div><i class="fa-solid fa-plus"></i> Outdoor Recreation
                </div>
                <div><i class="fa-solid fa-plus"></i> Leisure Sports & Games
                </div>
                <div><i class="fa-solid fa-plus"></i> Skates, Skateboards & Scooters
                </div>
                <div><i class="fa-solid fa-plus"></i> Racquet Sports
                </div>
                <div><i class="fa-solid fa-plus"></i> Sports Nutrition
                </div>
                <div><i class="fa-solid fa-plus"></i> Sports & Recreation Technology
                </div>
                <div><i class="fa-solid fa-plus"></i> Sports Medicine
                </div>
                <div><i class="fa-solid fa-plus"></i> Equestrian Sports
                </div>
                <div><i class="fa-solid fa-plus"></i> Winter Sports & Accessories
                </div>
                <div><i class="fa-solid fa-plus"></i> Ballet & Dance Equipment Golf
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="header-id64">
              <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#body-id64" aria-expanded="true" aria-controls="body-id64">
                Baby Products
              </button>
            </h2>
            <div id="body-id64" class="accordion-collapse collapse " aria-labelledby="header-id64">
              <div class="accordion-body bg-light text-muted">
                <div>All Baby Products</div>
                <div><i class="fa-solid fa-plus"></i> Nursing & Feeding
                </div>
                <div><i class="fa-solid fa-plus"></i> Clothing, Shoes & Accessories
                </div>
                <div><i class="fa-solid fa-plus"></i> Nursery
                </div>
                <div><i class="fa-solid fa-plus"></i> Safety Equipment
                </div>
                <div><i class="fa-solid fa-plus"></i> Bathing & Baby Care
                </div>
                <div><i class="fa-solid fa-plus"></i> Baby Gear & Accessories
                </div>
                <div><i class="fa-solid fa-plus"></i> Diapering
                </div>
                <div><i class="fa-solid fa-plus"></i> Baby Transport
                </div>
                <div><i class="fa-solid fa-plus"></i> Infant Activity Gifts
                </div>
                <div><i class="fa-solid fa-plus"></i> Potty Training
                </div>
                <div><i class="fa-solid fa-plus"></i> Baby Health Care Products
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="header-id65">
              <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#body-id65" aria-expanded="true" aria-controls="body-id65">
                Office Supplies
              </button>
            </h2>
            <div id="body-id65" class="accordion-collapse collapse " aria-labelledby="header-id65">
              <div class="accordion-body bg-light text-muted">
                <div>All Office Supplies</div>
                <div><i class="fa-solid fa-plus"></i> Education & Crafts
                </div>
                <div><i class="fa-solid fa-plus"></i> Writing & Correction Supplies
                </div>
                <div><i class="fa-solid fa-plus"></i> Office Electronics
                </div>
                <div><i class="fa-solid fa-plus"></i> Stationery
                </div>
                <div><i class="fa-solid fa-plus"></i> Desk Accessories & Workspace Organizers
                </div>
                <div><i class="fa-solid fa-plus"></i> Tape, Adhesives & Fasteners
                </div>
                <div><i class="fa-solid fa-plus"></i> Labels, Indexes & Stamps
                </div>
                <div><i class="fa-solid fa-plus"></i> Staplers & Punches
                </div>
                <div><i class="fa-solid fa-plus"></i> Cutting & Measuring Devices
                </div>
                <div><i class="fa-solid fa-plus"></i> Paper
                </div>
                <div><i class="fa-solid fa-plus"></i> Calendars, Planners & Personal Organizers
                </div>
                <div><i class="fa-solid fa-plus"></i> Envelopes, Mailers & Shipping Supplies
                  Presentation Boards
                </div>
                <div><i class="fa-solid fa-plus"></i> Cards & Card Stock Gift Wrapping Supplies
                </div>
                <div><i class="fa-solid fa-plus"></i> Binders & Binding Systems Office Storage
                  Supplies Time Clocks & Cards
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="header-id67">
              <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#body-id67" aria-expanded="true" aria-controls="body-id67">
                Grocery
              </button>
            </h2>
            <div id="body-id67" class="accordion-collapse collapse " aria-labelledby="header-id67">
              <div class="accordion-body bg-light text-muted">
                <div>All Grocery</div>
                <div><i class="fa-solid fa-plus"></i> Home Care & Cleaning
                </div>
                <div><i class="fa-solid fa-plus"></i> Canned, Dry & Packaged Food
                </div>
                <div><i class="fa-solid fa-plus"></i> Beverages
                </div>
                <div><i class="fa-solid fa-plus"></i> Herbs & Spices
                </div>
                <div><i class="fa-solid fa-plus"></i> Breakfast Food
                </div>
                <div><i class="fa-solid fa-plus"></i> Snack Food
                </div>
                <div><i class="fa-solid fa-plus"></i> Candy & Chocolate
                </div>
                <div><i class="fa-solid fa-plus"></i> Pasta & Noodles
                </div>
                <div><i class="fa-solid fa-plus"></i> Dried Beans, Grains & Rice
                </div>
                <div><i class="fa-solid fa-plus"></i> Salt, Sugar & Jaggery
                </div>
                <div><i class="fa-solid fa-plus"></i> Baby Foods & Snacks
                </div>
                <div><i class="fa-solid fa-plus"></i> Dairy, Cheese & Eggs
                </div>
                <div><i class="fa-solid fa-plus"></i> Gourmet Gifts Breads & Bakery
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="header-id68">
              <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#body-id68" aria-expanded="true" aria-controls="body-id68">
                Pet Supplies
              </button>
            </h2>
            <div id="body-id68" class="accordion-collapse collapse " aria-labelledby="header-id68">
              <div class="accordion-body bg-light text-muted">
                <div>All Pet Supplies</div>
                <div><i class="fa-solid fa-plus"></i> Dogs
                </div>
                <div><i class="fa-solid fa-plus"></i> Cats
                </div>
                <div><i class="fa-solid fa-plus"></i> Housing & Bedding
                </div>
                <div><i class="fa-solid fa-plus"></i> Fish & Aquatic Pets
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="header-id69">
              <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#body-id69" aria-expanded="true" aria-controls="body-id69">
                Music, Movies & TV Shows
              </button>
            </h2>
            <div id="body-id69" class="accordion-collapse collapse " aria-labelledby="header-id69">
              <div class="accordion-body bg-light text-muted">
                <div>All Music, Movies & TV Shows</div>
                <div><i class="fa-solid fa-plus"></i> Musical Instruments
                </div>
                <div><i class="fa-solid fa-plus"></i> Movies & TV Shows Music
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="header-id70">
              <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#body-id70" aria-expanded="true" aria-controls="body-id70">
                Gift Card & Subscription Vouchers
              </button>
            </h2>
            <div id="body-id70" class="accordion-collapse collapse " aria-labelledby="header-id70">
              <div class="accordion-body bg-light text-muted">
                <div>All Gift Card & Subscription Vouchers Gift Cards</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="header-id3">
        <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse"
          data-bs-target="#body-id3" aria-expanded="true" aria-controls="body-id3">
          Brand
        </button>
      </h2>
      <div id="body-id3" class="accordion-collapse collapse " aria-labelledby="header-id3">
        <div class="accordion-body bg-light">
          <div class="m-2">
            <div class="constrain">
              <input class="input-elevated" type="text" placeholder="Search">
            </div>
          </div>
          <div class="m-2">
            <input class="form-check-input " type="checkbox" value="" id="flexCheckDefault">
            <span>
              <span>TOMMY HILFIGER</span>
              <span style="float: right;">(1429)</span>
            </span>
          </div>
          <div class="m-2">
            <input class="form-check-input " type="checkbox" value="" id="flexCheckDefault">
            <span>
              <span>CASIO</span>
              <span style="float: right;">(1762)</span>
            </span>
          </div>
          <div class="m-2">
            <input class="form-check-input " type="checkbox" value="" id="flexCheckDefault">
            <span>
              <span>adidas</span>
              <span style="float: right;">(1486)</span>
            </span>
          </div>
          <div class="m-2">
            <input class="form-check-input " type="checkbox" value="" id="flexCheckDefault">
            <span>
              <span>GUESS</span>
              <span style="float: right;">(1481)</span>
            </span>
          </div>
          <div class="m-2">
            <input class="form-check-input " type="checkbox" value="" id="flexCheckDefault">
            <span>
              <span>Michael Kors</span>
              <span style="float: right;">(1370)</span>
            </span>
          </div>
          <div class="m-2">
            <input class="form-check-input " type="checkbox" value="" id="flexCheckDefault">
            <span>
              <span>Nike</span>
              <span style="float: right;">(1361)</span>
            </span>
          </div>
          <div class="m-2">
            <input class="form-check-input " type="checkbox" value="" id="flexCheckDefault">
            <span>
              <span>Generic</span>
              <span style="float: right;">(321258)</span>
            </span>
          </div>

          <div class="m-2">
            <input class="form-check-input " type="checkbox" value="" id="flexCheckDefault">
            <span>
              <span>Fast Print</span>
              <span style="float: right;">(110880)</span>
            </span>
          </div>
          <div class="m-2">
            <a href="#" class="link-primary">See All</a>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="header-id4">
        <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse"
          data-bs-target="#body-id4" aria-expanded="true" aria-controls="body-id4">
          Price (EGP)
        </button>
      </h2>
      <div id="body-id4" class="accordion-collapse collapse " aria-labelledby="header-id4">
        <div class="accordion-body bg-light ">
          <div class="row1 justify-content-center">
            <input type="number" id="#" name="#" min="1" max="10000" style="width: 35%;padding: 5px;">
            &nbsp; Go &nbsp;
            <input type="number" id="#" name="#" min="1" max="100000" style="width:35%;padding: 5px;">
            &nbsp; TO &nbsp;

          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="header-id5">
        <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse"
          data-bs-target="#body-id5" aria-expanded="true" aria-controls="body-id5">
          Product Rating
        </button>
      </h2>
      <div id="body-id5" class="accordion-collapse collapse " aria-labelledby="header-id5">
        <div class="accordion-body bg-light">
          <div class="range bg-light ">
            <div style=" font-size: 15px; color: rgb(76, 76, 213);">1 Star or more</div>
            <div class="field m-3">
              <div class="value left" style=" font-size: small;">1(Star)</div>
              <input type="range" min="1" max="5" value="100" steps="1" class="m-3">
              <div class="value right" style=" font-size: small;">5(Star)</div>
            </div>
          </div>
          <script>

            const slideValue = document.querySelector("span");
            const inputSlider = document.querySelector("input");
            inputSlider.oninput = (() => {
              let value = inputSlider.value;
              slideValue.textContent = value;
              slideValue.style.left = (value / 2) + "%";
              slideValue.classList.add("show");

            });
            inputSlider.onblur = (() => {
              slideValue.classList.remove("show");
            });
          </script>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="header-id6">
        <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse"
          data-bs-target="#body-id6" aria-expanded="true" aria-controls="body-id6">
          New Arrivals
        </button>
      </h2>
      <div id="body-id6" class="accordion-collapse collapse " aria-labelledby="header-id6">
        <div class="accordion-body bg-light">
          <div class="m-2">
            <input class="form-check-input " type="checkbox" value="" id="flexCheckDefault">
            <span>
              <span>Last 7 Days</span>
              <span style="float: right;">(5158)</span>
            </span>
          </div>
          <div class="m-2">

            <input class="form-check-input " type="checkbox" value="" id="flexCheckDefault">
            <span>
              <span>Last 30 Days</span>
              <span style="float: right;">(33175)</span>
            </span>
          </div>
          <div class="m-2">
            <input class="form-check-input " type="checkbox" value="" id="flexCheckDefault">
            <span>
              <span>Last 60 Days</span>
              <span style="float: right;">(49459)</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="header-id7">
        <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse"
          data-bs-target="#body-id7" aria-expanded="true" aria-controls="body-id7">
          Colour
        </button>
      </h2>
      <div id="body-id7" class="accordion-collapse collapse " aria-labelledby="header-id7">
        <div class="accordion-body bg-light">
          <div class="container">
            <div class="row g-2">
              <div class="col-6 bg-white">
                <div>
                  <img src="img/img_Category/black.svg">
                  BLACK
                  (86211)
                </div>
              </div>
              <div class="col-6 bg-white">
                <div style="font-size: 12px;">
                  <img src="img/img_Category/multicolour.svg">
                  MULTICOLOUR
                  (413642)
                </div>
              </div>
              <div class="col-6 bg-white">
                <div>
                  <img src="img/img_Category/white.svg">
                  WHITE
                  (57347)
                </div>
              </div>
              <div class="col-6 bg-white">
                <div>
                  <img src="img/img_Category/blue.svg">
                  BLUE
                  (42308)
                </div>
              </div>
              <div class="col-6 bg-white">
                <div>
                  <img src="img/img_Category/grey.svg">
                  GREY
                  (23514)
                </div>
              </div>
              <div class="col-6 bg-white">
                <div>
                  <img src="img/img_Category/red.svg">
                  RED
                  (21689)
                </div>
              </div>
              <div class="col-6 bg-white">
                <div>
                  <img src="img/img_Category/pink.svg">
                  PINK
                  (20932)
                </div>
              </div>
              <div class="col-6 bg-white">
                <div>
                  <img src="img/img_Category/clear.svg">
                  CLEAR
                  (20126)
                </div>
              </div>
              <div class="col-6 bg-white">
                <div>
                  <img src="img/img_Category/green.svg">
                  GREEN
                  (18905)
                </div>
              </div>

            </div>
            <a href="#" class="link-primary">See All</a>

          </div>
        </div>
      </div>

    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="header-id8">
        <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse"
          data-bs-target="#body-id8" aria-expanded="true" aria-controls="body-id8">
          Seller
        </button>
      </h2>
      <div id="body-id8" class="accordion-collapse collapse " aria-labelledby="header-id8">
        <div class="accordion-body bg-light">
          <div class="m-2">
            <input class="form-check-input " type="checkbox" value="" id="flexCheckDefault">
            <span>
              <span>Genius</span>
              <span style="float: right;">(254976)</span>
            </span>
          </div>
          <div class="m-2">
            <input class="form-check-input " type="checkbox" value="" id="flexCheckDefault">
            <span>
              <span>Covers line</span>
              <span style="float: right;">(146694)</span>
            </span>
          </div>
          <div class="m-2">
            <input class="form-check-input " type="checkbox" value="" id="flexCheckDefault">
            <span>
              <span>Photo Block</span>
              <span style="float: right;">(58707)</span>
            </span>
          </div>
          <div class="m-2">
            <input class="form-check-input " type="checkbox" value="" id="flexCheckDefault">
            <span>
              <span>Homey</span>
              <span style="float: right;">(54308)</span>
            </span>
          </div>
          <div class="m-2">
            <input class="form-check-input " type="checkbox" value="" id="flexCheckDefault">
            <span>
              <span>Souqegypt</span>
              <span style="float: right;">(52301)</span>
            </span>
          </div>
          <div class="m-2">
            <input class="form-check-input " type="checkbox" value="" id="flexCheckDefault">
            <span>
              <span>Lynks</span>
              <span style="float: right;">(40346)</span>
            </span>
          </div>
          <div class="m-2">
            <input class="form-check-input " type="checkbox" value="" id="flexCheckDefault">
            <span>
              <span>noon Fashion</span>
              <span style="float: right;">(32890)</span>
            </span>
          </div>
          <div class="m-2">
            <input class="form-check-input " type="checkbox" value="" id="flexCheckDefault">
            <span>
              <span>noon</span>
              <span style="float: right;">(23745)</span>
            </span>
          </div>
          <div class="m-2">
            <a href="#" class="link-primary">See All</a>
          </div>
        </div>
      </div>
    </div>
  </div>
