<button class=" btn btn-warning d-block d-sm-none d-md-none col-12 col-sm-4 col-md-3
      warning.bg-gradient" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
  aria-controls="offcanvasRight" [translate]="'Filter-Products'">
</button>
<div class="offcanvas offcanvas-end " tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div>
    <button type="button" class="btn-close " style="margin-right: 1px;" data-bs-dismiss="offcanvas" aria-label="Close">
    </button>
    <section>
      <div class="accordion accordion-flush" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="header-id">
            <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse"
              data-bs-target="#body-id" aria-expanded="true" aria-controls="body-id" [translate]="'Fulfillment'">
            </button>
          </h2>
          <div id="body-id" class="accordion-collapse collapse show" aria-labelledby="header-id">
            <div class="accordion-body bg-light">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <span class="express" [translate]="'express'"></span>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header " id="header-id2">
            <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse"
              data-bs-target="#body-id2" aria-expanded="true" aria-controls="body-id2" [translate]="'Category'">
            </button>
          </h2>
          <div id="body-id2" class="accordion-collapse collapse " aria-labelledby="header-id2">
            <div class="accordion-body bg-light">
              <div class="accordion-item " *ngFor="let cat of categoriesList ;let i = index">
                <h2 class="accordion-header" id="header-id33">
                  <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse"
                    data-bs-target="#body-id33" aria-expanded="true" aria-controls="body-id33"
                    *ngIf="cat.parentCategory==undefined">
                    {{lang == 'en'? cat.name : cat.nameAr}}
                  </button>
                </h2>
                <div id="body-id33" class="accordion-collapse collapse " aria-labelledby="header-id33">
                  <div class="accordion-body bg-light text-muted" *ngFor="let subcat of cat.subCategories">
                    <div>{{lang == 'en'? cat.name : cat.nameAr}}</div>
                    <div><i class="fa-solid fa-plus"></i>{{lang == 'en'? subcat.name : subcat.nameAr}}
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="header-id3">
            <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse"
              data-bs-target="#body-id3" aria-expanded="true" aria-controls="body-id3" [translate]="'Brand'">
            </button>
          </h2>
          <div id="body-id3" class="accordion-collapse collapse " aria-labelledby="header-id3">
            <div class="accordion-body bg-light">
              <div class="m-2">
                <div class="constrain">
                  <input class="input-elevated" type="text" placeholder="Search">
                </div>
              </div>
              <div class="m-2" *ngFor="let brand of brandList">
                <input class="form-check-input " type="checkbox" value="" id="flexCheckDefault">
                <span>
                  <span>{{lang == 'en'? brand.name : brand.nameAr}}</span>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="header-id4">
            <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse"
              data-bs-target="#body-id4" aria-expanded="true" aria-controls="body-id4" [translate]="'Price-(EGP)'">

            </button>
          </h2>
          <div id="body-id4" class="accordion-collapse collapse " aria-labelledby="header-id4">
            <div class="accordion-body bg-light ">
              <div class="row1 justify-content-center">
                <input type="number" id="#" name="#" min="1" max="10000" style="width: 35%;padding: 5px;">
                <span [translate]="'From'"></span>
                <input type="number" id="#" name="#" min="1" max="100000" style="width:35%;padding: 5px;">
                <span [translate]="'To'"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="header-id5">
            <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse"
              data-bs-target="#body-id5" aria-expanded="true" aria-controls="body-id5" [translate]="'Product-Rating'">

            </button>
          </h2>
          <div id="body-id5" class="accordion-collapse collapse " aria-labelledby="header-id5">
            <div class="accordion-body bg-light">
              <div class="range bg-light ">
                <div style=" font-size: 15px; color: rgb(76, 76, 213);" [translate]="'1Star-or-more'">
                </div>
                <div class="field m-3">
                  <div class="value left" style=" font-size: small;" [translate]="'1star'"></div>
                  <input type="range" min="1" max="5" value="100" steps="1" class="m-3">
                  <div class="value right" style=" font-size: small;" [translate]="'5star'"></div>
                </div>
              </div>
              <script>

                const slideValue1 = document.querySelector("span");
                const inputSlider1 = document.querySelector("input");
                inputSlider.oninput = (() => {
                  let value = inputSlider.value;
                  slideValue.textContent = value;
                  slideValue.style.left = (value / 2) + "%";
                  slideValue.classList.add("show");

                });
                inputSlider.onblur = (() => {
                  slideValue.classList.remove("show");
                });
              </script>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="header-id7">
            <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse"
              data-bs-target="#body-id7" aria-expanded="true" aria-controls="body-id7" [translate]="'Colour'">
            </button>
          </h2>
          <div id="body-id7" class="accordion-collapse collapse " aria-labelledby="header-id7">
            <div class="accordion-body bg-light">
              <div class="container">
                <div class="row g-2">
                  <div class="col-6 bg-white" *ngFor="let color of colorsList">
                    <div>
                      <a href="">{{color.name}}</a>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
  </div>
</div>

<!-- ////////////////////////////////////////////////////// -->
<div class=" container-fluid">
  <div class="row">
    <div class="col-12 py-3">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4" id="products-list">
        <div class="col product-card p-2" *ngFor="let Prod of prodList">
          <div class="p-2 bg-white h-100">
            <div class="div-center col-12" (click)="getProductDetails(Prod.id)">
              <div>
                <img [src]="Prod.imagePath" width="200" height="200">
              </div>
              <h6 class="prod-card-title"> {{lang == 'en'? Prod.name : Prod.nameAr}}
              </h6>
            </div>

            <div class="d-flex flex-row">
              <p>EGP</p>
              <h6 class="px-2 fw-bold">{{Prod.price}}</h6>
            </div>
            <div *ngIf="Prod!= undefined && Prod.discount >0">
              <span class="text-decoration-line-through txtFont2">{{Prod.price|discountpipe:Prod.discount |currency:'EGP'}}
                &nbsp;</span>
              <span class="fw-bold txtFont2" style="color: #3bbd04;">{{Prod?.discount}}%</span>
            </div>
            <div class="d-flex flex-row flex-wrap justify-content-between">
              <div class="express-badge my-2" [translate]="'express'"></div>
              <div class="d-flex flex-row my-2 ">
                <div class="prod-rate ">
                  {{Prod.rate}}
                  <i class="bi bi-star-fill"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<nav aria-label="Page navigation example ">
  <ul class="pagination justify-content-center ">
    <li class="page-item">
      <a class="page-link text-secondary" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link text-secondary" href="#">1</a></li>
    <li class="page-item"><a class="page-link text-secondary" href="#">2</a></li>
    <li class="page-item"><a class="page-link text-secondary" href="#">3</a></li>
    <li class="page-item"><a class="page-link text-secondary" href="#">.......</a></li>
    <li class="page-item"><a class="page-link text-secondary" href="#">4567</a></li>
    <li class="page-item">
      <a class="page-link text-secondary" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>